@use '~@angular/material' as mat;

@mixin clgx-reactive-date-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-reactive-date {
    .clgx-reactive-date {
      display: 98%;
      padding-top: 10px;
      padding-bottom: 10px;
      .mat-form-field {
        width: 95% !important;
        line-height: 2em !important;
      }
      & .mat-form-field-wrapper {
        // height: 44.85px;
        width: 100% !important;
        & .mat-form-field-flex {
          height: 48px;

          & .mat-form-field-outline {
            $borderRadius: 0px;
            height: 44px;

            & .mat-form-field-outline-start {
              border-radius: $borderRadius 0 0 $borderRadius;
              width: 3px !important; // Override Material in-line style
            }

            & .mat-form-field-outline-end {
              border-radius: 0 $borderRadius $borderRadius 0;
            }
          }

          & .mat-form-field-infix {
            left: 4px;
            padding: 0;
            // top: -7px;

            & .mat-form-field-label,
            & .mat-input-element {
              font-size: 16px;
            }

            & .mat-form-field-label-wrapper {
              top: -1.04375em;

              & .mat-form-field-label {
                height: 20px;
              }
            }
          }
        }
      }
    }

    // .big-input {
    //   position: relative !important;
    //   box-shadow: none !important;
    //   transition: all 0.5s;
    //   display: 100%;
    //   padding: 3px;
    //   font-size: 12px !important;
    //   // line-height: 18px !important;
    //   font-family: Graphik-regular !important;
    //   font-weight: 400 !important;
    //   letter-spacing: 0.03em !important;
    //   text-align: left !important;

    //   .clgx-mat-input {

    //     background: #FFFFFF !important;
    //     // border: 1px solid #AEAFBC !important;
    //     box-sizing: border-box !important;
    //     // box-shadow: inset 0px 2px 2px rgba(134, 134, 134, 0.25) !important;
    //     border-radius: 0px !important;

    //     // font-family: Graphik-regular !important;
    //     font-size: 16px !important;
    //     // // font-style: normal !important;
    //     // font-weight: 400 !important;
    //     // // line-height: 18px !important;
    //     // letter-spacing: 0.03em !important;
    //     // text-align: left !important;

    //     width: 100% !important;
    //     // height: 48px !important;
    //   }

    //   // &.has-focus {
    //   //   box-shadow: 0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2),
    //   //     0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2),
    //   //     0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2);
    //   // }
    // }

    .clear-icon {
      // position:absolute;
      // top: -5px;
      // right: 10px;
      font-size: x-large;
      color: orangered;
      cursor: pointer;
    }

    .show-clear {
      padding-left: 15px;
    }

    .agency-input-label {
      font-family: Graphik-regular !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 12px !important;
      line-height: 12px !important;
      letter-spacing: 0.03em !important;
      color: #868686 !important;
    }

    .mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
      color: #aeafbc !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      margin: 0px !important;
      padding-bottom: 3px !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      // height: 48px !important;
    }

  }
}
