<div class="procurement-container" [ngClass]="routeAnimationsElements">
  <mat-tab-group  mat-align-tabs="start" 
      style="margin-top: 10rem;" 
        [(selectedIndex)]="tabSelectedIndex">
    <mat-tab label="Escrow Taxes" >
      <form class="form" [formGroup]="escrowForm" (ngSubmit)="saveOrUpdateEscrowDetails(escrowForm)">
        <div class="escrow-taxes">
          <div class="details">
            <div class="detail">
              <span>Contact info</span>
            </div>
            <div class="details-inputs">
                <clgx-reactive-input
                    [titleLabel]="'Contact Name'"
                    [required]="isescrowFormRequired('contactName')"
                    [clgxControlName]="'contactName'"
                    [showClear]="false"
                    [error]="contactName?.errors?.required">
                </clgx-reactive-input>
                <clgx-reactive-input
                  [titleLabel]="'Contact Phone'"
                  [required]="isescrowFormRequired('contactPhone')"
                  [clgxControlName]="'contactPhone'"
                  [showClear]="false"
                  [error]="contactPhone?.errors?.required"
                  [placeholder]="'xxx-xxx-xxxx'">
                </clgx-reactive-input>
                <!-- <mat-form-field appearance="outline" color="accent">
                  <mat-label>Contact Phone</mat-label>
                  <input type="tel"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" matInput placeholder="xxx-xxx-xxxx"
                        formControlName="contactPhone" [required]="isescrowFormRequired('contactPhone')">
                  <mat-error *ngIf="contactPhone?.errors?.required">
                    Required 
                  </mat-error>
                </mat-form-field> -->
                <clgx-reactive-input
                    [titleLabel]="'Contact Fax'"
                    [required]="isescrowFormRequired('contactFax')"
                    [clgxControlName]="'contactFax'"
                    [showClear]="false"
                    [error]="contactFax?.errors?.required">
                </clgx-reactive-input>
                <clgx-reactive-input
                    [titleLabel]="'Contact Email'"
                    [required]="isescrowFormRequired('contactEmail')"
                    [clgxControlName]="'contactEmail'"
                    [showClear]="false"
                    [error]="contactEmail?.errors?.required">
                </clgx-reactive-input>
                <clgx-reactive-input
                    [titleLabel]="'Agency Website'"
                    [required]="isescrowFormRequired('agencyWebsite')"
                    [clgxControlName]="'agencyWebsite'"
                    [showClear]="false"
                    [error]="agencyWebsite?.errors?.required">
                </clgx-reactive-input>
            </div>
          </div>
          <div class="details"></div>
          <div class="details">
            <div class="detail">
              <span>Payment details</span>
            </div>
            <div class="details-inputs">
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">AMT Available on Website</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isescrowFormRequired('amtAvailableOnWebsite')" formControlName="amtAvailableOnWebsite">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Cost to Pay Using Copy of TB</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isescrowFormRequired('costToPayUsingCopyOfTb')" formControlName="costToPayUsingCopyOfTb">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Listing Accepted for Payment</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isescrowFormRequired('listingAcceptedForPayment')" formControlName="listingAcceptedForPayment">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Mail-a-way Only Req</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                    [required]="isescrowFormRequired('mailAWayOnlyReq')" formControlName="mailAWayOnlyReq">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Agency Expect Web TB</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                [required]="isescrowFormRequired('agencyExpectWebTb')"  formControlName="agencyExpectWebTb">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Postmark Accepted</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isescrowFormRequired('postmarkAccepted')"  formControlName="postmarkAccepted">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
          <div class="details"></div>
          <div class="details">
            <div class="detail" style="height: 20px;">
            </div>
            <div class="details-inputs">
              <clgx-reactive-input
                  [titleLabel]="'Copy Fee'"
                  [required]="isescrowFormRequired('copyFee')"
                  [clgxControlName]="'copyFee'"
                  [showClear]="false"
                  [error]="copyFee?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                  [titleLabel]="'Fee for Mail-a-Way'"
                  [required]="isescrowFormRequired('feeForMailAWay')"
                  [clgxControlName]="'feeForMailAWay'"
                  [showClear]="false"
                  [error]="feeForMailAWay?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                  [titleLabel]="'No. of Parcels Per Check'"
                  [required]="isescrowFormRequired('noOfParcelsPerCheck')"
                  [clgxControlName]="'noOfParcelsPerCheck'"
                  [showClear]="false"
                  [error]="noOfParcelsPerCheck?.errors?.required">
              </clgx-reactive-input>
            </div>
          </div>
        </div>
        <div class="divider">
        </div>
        <div class="save-btn">
          <button  [disabled]="escrowForm.invalid">Save</button>
        </div>
        </form>
    </mat-tab>
    <mat-tab label="Non Escrow">
      <form class="form" [formGroup]="nonEscrowForm" (ngSubmit)="saveOrUpdateNonEscrowDetails(nonEscrowForm)">
        <div class="non-escrow-taxes">
          <div class="details">
            <div class="detail">
              <span>Contact info</span>
            </div>
            <div class="details-inputs">
              <clgx-reactive-input
                  [titleLabel]="'Collecting Agency Name'"
                  [required]="isnonEscrowFormRequired('collectingAgencyName')"
                  [clgxControlName]="'collectingAgencyName'"
                  [showClear]="false"
                  [error]="collectingAgencyName?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                  [titleLabel]="'Contact Name'"
                  [required]="isnonEscrowFormRequired('contactName')"
                  [clgxControlName]="'contactName'"
                  [showClear]="false"
                  [error]="contactNameNonEscrow?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                  [titleLabel]="'Contact Phone'"
                  [required]="isnonEscrowFormRequired('contactPhone')"
                  [clgxControlName]="'contactPhone'"
                  [showClear]="false"
                  [error]="contactPhoneNonEscrow?.errors?.required">
              </clgx-reactive-input>
                <!-- <mat-form-field appearance="outline" color="accent">
                  <mat-label>Contact Phone</mat-label>
                  <input type="tel"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" matInput placeholder="xxx-xxx-xxxx"
                     formControlName="contactPhone" [required]="isnonEscrowFormRequired('contactPhone')">
                  <mat-error *ngIf="contactPhoneNonEscrow?.errors?.required">
                    Required 
                  </mat-error>
                </mat-form-field> -->
                <clgx-reactive-input
                    [titleLabel]="'Contact Fax'"
                    [required]="isnonEscrowFormRequired('contactFax')"
                    [clgxControlName]="'contactFax'"
                    [showClear]="false"
                    [error]="contactFaxNonEscrow?.errors?.required">
                </clgx-reactive-input>
                <clgx-reactive-input
                    [titleLabel]="'Contact Email'"
                    [required]="isnonEscrowFormRequired('contactEmail')"
                    [clgxControlName]="'contactEmail'"
                    [showClear]="false"
                    [error]="contactEmailNonEscrow?.errors?.required">
                </clgx-reactive-input>
                <clgx-reactive-input
                    [titleLabel]="'Agency Website'"
                    [required]="isnonEscrowFormRequired('agencyWebsite')"
                    [clgxControlName]="'agencyWebsite'"
                    [showClear]="false"
                    [error]="agencyWebsiteNonEscrow?.errors?.required">
                </clgx-reactive-input>
            </div>
          </div>
          <div class="details"></div>

          <div class="details">
            <div class="detail">
              <span>Payment details</span>
            </div>
            <div class="details-inputs">
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Collected by Agency</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isnonEscrowFormRequired('collectedByAgency')" formControlName="collectedByAgency">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Third Party Collections</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isnonEscrowFormRequired('thirdPartyCollections')" formControlName="thirdPartyCollections">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">AMT Available on Website</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isnonEscrowFormRequired('amtAvailableOnWebsite')" formControlName="amtAvailableOnWebsite">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
               <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Mail-a-way Only Req</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="isnonEscrowFormRequired('mailAWayOnlyReq')" formControlName="mailAWayOnlyReq">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <clgx-reactive-input
                    [titleLabel]="'Fee for Mail-a-Way'"
                    [required]="isnonEscrowFormRequired('feeForMailAWay')"
                    [clgxControlName]="'feeForMailAWay'"
                    [showClear]="false"
                    [error]="feeForMailAWayNonEscrow?.errors?.required">
              </clgx-reactive-input>
            </div>
          </div>
          <div class="details"></div>

          <div class="details">
            <div class="detail">
              <span>Delinquent contact details</span>
            </div>
            <div class="details-inputs">
              <clgx-reactive-input
                    [titleLabel]="'Pay to Name'"
                    [required]="isnonEscrowFormRequired('payToName')"
                    [clgxControlName]="'payToName'"
                    [showClear]="false"
                    [error]="payToName?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                    [titleLabel]="'Pay to Address'"
                    [required]="isnonEscrowFormRequired('payToAddress')"
                    [clgxControlName]="'payToAddress'"
                    [showClear]="false"
                    [error]="payToAddress?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                    [titleLabel]="'Pay to Address'"
                    [required]="isnonEscrowFormRequired('payToAddress')"
                    [clgxControlName]="'payToAddress'"
                    [showClear]="false"
                    [error]="payToAddress?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-input
                    [titleLabel]="'Pay to City'"
                    [required]="isnonEscrowFormRequired('payToCity')"
                    [clgxControlName]="'payToCity'"
                    [showClear]="false"
                    [error]="payToCity?.errors?.required">
              </clgx-reactive-input>
              <clgx-reactive-select
                    [titleLabel]="'State'"
                    [options]="stateOptions || []"
                    [clgxControlName]="'stateId'"
                    [required]="isnonEscrowFormRequired('stateId')"
                    [error]="stateId?.errors?.required">
                </clgx-reactive-select>
                <clgx-reactive-input
                    [titleLabel]="'Zip'"
                    [required]="isnonEscrowFormRequired('zipId')"
                    [clgxControlName]="'zipId'"
                    [showClear]="false"
                    [error]="zipId?.errors?.required">
                 </clgx-reactive-input>
                 <clgx-reactive-select
                    [titleLabel]="'County'"
                    [options]="(nonEscrowCounties$ | async) || []"
                    [clgxControlName]="'countyId'"
                    [disabled]="isNonEscrowCountiesLoading || !(nonEscrowCounties$ | async)?.length || !getStateId()"
                    [required]="isRequiredNonEscrowField('countyId')"
                    [error]="countyId?.errors?.required">
                  </clgx-reactive-select>               
                  <section class="checkbox">
                    <mat-label>Method of Payment Required</mat-label>
                    <mat-checkbox class="check-box" style="padding-right:10px;" value="1">Certified check</mat-checkbox>
                    <mat-checkbox class="check-box" style="padding-left:10px;" value="2">Wire</mat-checkbox>
                  </section>
            </div>
          </div>
        </div>
        <div class="divider">
        </div>
        <div class="save-btn">
          <button [disabled]="nonEscrowForm.invalid">Save</button>
        </div>
        </form>
    </mat-tab>
  </mat-tab-group>
</div>