<mat-tab-group  mat-align-tabs="start" style="margin-top: 10rem;">
  <mat-tab label="Escrow Taxes">
    <form class="form" [formGroup]="escrow" (ngSubmit)="show(escrow)">
      <div class="escrow_taxes">
        <div class="details">
          <div class="detail">
            <span>Contact info</span>
          </div>
          <div class="details-inputs">
              <mat-form-field appearance="outline">
                <mat-label>Contact Name</mat-label>
                <input matInput formControlName="contactName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Phone</mat-label>
                <input matInput formControlName="contactPhone">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Fax</mat-label>
                <input matInput formControlName="contactFax">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Email</mat-label>
                <input matInput formControlName="contactEmail">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Agency Website</mat-label>
                <input matInput formControlName="agencyWebsite">
              </mat-form-field>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <span>Payment details</span>
          </div>
          <div class="details-inputs">
            <div class="toggle">
              <mat-label>AMT Available on Website</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="amtAvailableOnWebsite">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Cost to Pay Using Copy of TB</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="cost_to_pay_using_copy_of_tb">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Listing Accepted for Payment</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="listing_accepted_for_payment">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Mail-a-way Only Req</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="mail_a_way_only_req">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Agency Expect Web TB</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agency_expect_web_tb">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Postmark Accepted</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="postmark_accepted">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <div class="details">
          <div class="details-inputs">
              <mat-form-field appearance="outline" style="width: 100%;margin-top: 20px;">
                <mat-label>Copy Fee</mat-label>
                <input matInput formControlName="copy_fee">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Fee for Mail-a-Way</mat-label>
                <input matInput formControlName="fee_for_mail_a_way">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>No. of Parcels Per Check</mat-label>
                <input matInput formControlName="no_of_parcels_per_check">
              </mat-form-field>
          </div>
        </div>
      </div>
      <div class="divider">
      </div>
      <div class="save-btn">
        <button>Save</button>
      </div>
      </form>
  </mat-tab>
  <mat-tab label="Non Escrow">
    <form class="form" [formGroup]="non_escrow" (ngSubmit)="show(non_escrow)">
      <div class="escrow_taxes">
        <div class="details">
          <div class="detail">
            <span>Contact info</span>
          </div>
          <div class="details-inputs">
              <mat-form-field appearance="outline">
                <mat-label>Collecting Agency Name</mat-label>
                <input matInput formControlName="collectingAgencyName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Name</mat-label>
                <input matInput formControlName="contactName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Phone</mat-label>
                <input matInput formControlName="contactPhone">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Fax</mat-label>
                <input matInput formControlName="contactFax">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contact Email</mat-label>
                <input matInput formControlName="contactEmail">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Agency Website</mat-label>
                <input matInput formControlName="agencyWebsite">
              </mat-form-field>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <span>Payment details</span>
          </div>
          <div class="details-inputs">
            <div class="toggle">
              <mat-label>Collected by Agency</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="collectedByAgency">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Third Party Collections</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="thirdPartyCollections">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>AMT Available on Website</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="amtAvailableOnWebsite">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div class="toggle">
              <mat-label>Mail-a-way Only Req</mat-label>
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="mail_a_way_only_req">
                <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Fee for Mail-a-Way</mat-label>
              <input matInput formControlName="fee_for_mail_a_way">
            </mat-form-field>
          </div>
        </div>
        <div class="details">
          <div class="detail">
            <span>Delinquent contact details</span>
          </div>
          <div class="details-inputs">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Pay to Name</mat-label>
                <input matInput formControlName="payToName">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Pay to Address</mat-label>
                <input matInput formControlName="payToAddress">
              </mat-form-field>
              <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Pay to City</mat-label>
                <input matInput formControlName="payToCity">
              </mat-form-field>
              <div class="state-zip" style="width: 100%;">
                <mat-form-field appearance="outline" style="width: 40%;">
                  <mat-label>State</mat-label>
                  <input matInput formControlName="stateId">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width : 55%">
                  <mat-label>Zip</mat-label>
                  <input matInput formControlName="zipId">
                </mat-form-field>
                <div class="checkbox">
                  <mat-label>Method of Payment Required</mat-label>
                  <mat-checkbox class="check-box" style="padding-right:10px;" formControlName="methodOfPaymentRequired_certifiedCheck">Certified check</mat-checkbox>
                  <mat-checkbox class="check-box" style="padding-left:10px;" formControlName="methodOfPaymentRequired_wire">Wire</mat-checkbox>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="divider">
      </div>
      <div class="save-btn">
        <button>Save</button>
      </div>
      </form>
  </mat-tab>
</mat-tab-group>
