<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" [alt]="logo"/>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label | translate}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="wrapper" >

      <div class="toolbar"  *ngIf="(showHeader$ | async)" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" 
          [ngClass]="routeAnimationsElements"
        [class.mat-elevation-z1]="(stickyHeader$ | async) && scrollPosition > 100">
        <mat-toolbar  [ngClass]="routeAnimationsElements"  >
          
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>
          </button>

          <span routerLink="" [ngClass]="routeAnimationsElements" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo" [alt]="logo"/></span>
          <span routerLink="" [ngClass]="routeAnimationsElements" class="branding spacer center d-none d-sm-inline d-md-none">
            <img [src]="logo" [alt]="logo"/> 
            <!-- {{'clgx.title.short' | translate }} -->
          </span>
          <span routerLink="" [ngClass]="routeAnimationsElements" class="branding spacer d-none d-md-inline">
            <img [src]="logo"[alt]="logo" style="height: 4rem;width: 10rem;" /> 
            <!-- {{ 'clgx.title.long' | translate }} -->
          </span>
        </mat-toolbar>
       
      </div>
      <ngx-loading-bar></ngx-loading-bar>
      <div class="content container-xs"  
          [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig?.data?.title">
        
        <router-outlet #o="outlet"></router-outlet>
        <!-- <app-taxlogix-spinner [displayProgressSpinner]="actionInProgress"></app-taxlogix-spinner> -->
      </div>

      <div class="footer">
        <app-footer-lg></app-footer-lg>
        <div class="row">
          <div class="col-12 signature" animateOnScroll animationName="animated fadeInDown">
            &#169; <span class="year">{{year}}</span> - ChainLogix
            <br class="d-block d-sm-none">
          </div>
        </div>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
