@import '../../styles-variables';

.theme-wrapper {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

 
  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;
    // padding-left: 1rem;
    background-color: #f7f7f7;

    .nav-button {
      margin: 0 10px 0 0;
    }

    fa-icon {
      font-size: 2rem !important;
    }

    .branding {
      cursor: pointer;
      overflow: hidden;
      padding-top: 4px;
      text-overflow: ellipsis;

      &.center {
        text-align: center;
      }

      img {
        position: relative;
        top: -2px;
        width: 48px;
        height: 48px;
      }
    }

    .mat-stroked-button {
      margin-right: 10px;
    }

    .spacer {
      flex: 1 1 auto;
    }

    mat-select {
      margin: 0 0 0 20px;
      width: 40px;
      font-size: 14px;
    }

    @media (max-width: map-get($grid-breakpoints, lg)) {
      .nav-button {
        min-width: 0;
        padding: 0 10px;
      }
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1 0 auto;
      // margin-top: 64px;
      // padding: 20px;
      // padding-top: 25px;
      overflow: hidden;
      // background-color: #c0c0c029;
      background-color: #f5f5f5;
    }

    .footer {
      flex: 0 0 auto;
      padding: 0 15px;
      text-align: center;

      .row {
        padding: 10px 0;

        .links {
          a {
            transition: padding 0.5s;
            display: inline-block;
            padding: 20px 5px;

            &:hover {
              text-decoration: none;
            }

            fa-icon {
              font-size: 30px;
              width: 35px;
            }

            span {
              display: inline-block;
              width: 75px;
              padding: 0 0 0 3px;
              overflow: hidden;
              text-align: left;
              white-space: nowrap;
              transition: width 0.5s;
            }
          }

          @media (min-width: map-get($grid-breakpoints, lg)) {
            a {
              padding: 20px 10px;
            }
          }

          @media (max-width: map-get($grid-breakpoints, md)) {
            a {
              padding: 20px;

              span {
                width: 0;
                padding: 0;
              }
            }
          }

          @media (max-width: map-get($grid-breakpoints, sm)) {
            a {
              padding: 20px 5px;
            }
          }
        }

        @media (min-width: map-get($grid-breakpoints, sm)) {
          .signature {
            position: relative;

            a {
              position: absolute;
              right: 15px;
            }
          }
        }
      }
    }
  }

  @media (max-width: $toolbar-breakpoint) {
    .content {
      margin-top: 56px !important;
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}

.navbar {
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
  color: var(--navbar-scroll-text);
  -webkit-box-shadow: var(--navbar-scroll-shadow);
  box-shadow: var(--navbar-scroll-shadow);
}

// .taxlogix-splash-screen{
//   .webcube-loader { display: block;

//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translateY(-50%); }
//       background-color: #3dcbc5;
//   .webcube-loader > div {
//     display: inline-block;
//   }

//   .hexagon {
//     position: relative;
//     width: 38px;
//     height: 25.09px;
//     background-color: transparent;
//     border-left: solid 5px #c4c4c4;
//     border-right: solid 5px #c4c4c4;
//     margin-right: -8px;
//     transform: rotate(-90deg);
//     animation: loader 1.5s infinite ease both;
//     animation-delay: 1.2s;
//   }

//   .hexagon:before,
//   .hexagon:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: 28.28px;
//     height: 28.28px;
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background-color: inherit;
//     left: 0.8579px;
//     border-radius: 3px;
//   }

//   .hexagon:before {
//     top: -18.1421px;
//     border-top: solid 7.0711px #c4c4c4;
//     border-right: solid 7.0711px #c4c4c4;
//   }

//   .hexagon:after {
//     bottom: -18.1421px;
//     border-bottom: solid 7.0711px #c4c4c4;
//     border-left: solid 7.0711px #c4c4c4;
//   }

//   .hexagon2 {
//     position: relative;
//     width: 38px;
//     height: 25.09px;
//     background-color: transparent;
//     border-left: solid 5px #3dcbc5;
//     border-right: solid 5px #3dcbc5;
//     z-index: 9;
//     transform: rotate(-90deg);
//     animation: loader 3.5s infinite ease both;
//     animation-delay: 1.2s;
//   }

//   .hexagon2:before,
//   .hexagon2:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: 28.28px;
//     height: 28.28px;
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background-color: inherit;
//     left: 0.8579px;
//     border-radius: 3px;
//   }

//   .hexagon2:before {
//     top: -18.1421px;
//     border-top: solid 7.0711px #3dcbc5;
//     border-right: solid 7.0711px #3dcbc5;
//   }

//   .hexagon2:after {
//     bottom: -18.1421px;
//     border-bottom: solid 7.0711px #3dcbc5;
//     border-left: solid 7.0711px #3dcbc5;
//   }
//   .hexagon3 {
//     position: relative;
//     width: 38px;
//     height: 25.09px;
//     background-color: transparent;
//     border-left: solid 5px #053481;
//     border-right: solid 5px #053481;
//     z-index: 99;
//     transform: rotate(-90deg);
//     animation: loader 5.5s infinite ease both;
//     animation-delay: 1.2s;
//     margin-left: -8px;

//   }

//   .hexagon3:before,
//   .hexagon3:after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     width: 28.28px;
//     height: 28.28px;
//     -webkit-transform: scaleY(0.5774) rotate(-45deg);
//     -ms-transform: scaleY(0.5774) rotate(-45deg);
//     transform: scaleY(0.5774) rotate(-45deg);
//     background-color: inherit;
//     left: 0.8579px;
//     border-radius: 3px;
//   }

//   .hexagon3:before {
//     top: -18.1421px;
//     border-top: solid 7.0711px #053481;
//     border-right: solid 7.0711px #053481;
//   }

//   .hexagon3:after {
//     bottom: -18.1421px;
//     border-bottom: solid 7.0711px #053481;
//     border-left: solid 7.0711px #053481;
//   }

// @keyframes loader {
//   0% , 40% {
//     transform: rotate(-90deg) scale(0);

//   }
//   40%, 90% {

//     transform: rotate(-90deg) scale(1.0);
//   }
//   100% {
//     transform: rotate(-90deg) scale(0);
//   }
// }

// }
