@use '~@angular/material' as mat;

/* For use in src/lib/core/theming/_palette.scss */
$clgx-primary-p: (
  50 : #e4fffc,
  100 : #bcfff7,
  200 : #8ffff2,
  300 : #62ffec,
  400 : #41ffe8,
  500 : #1fffe4,
  600 : #1bffe1,
  700 : #17ffdd,
  800 : #12ffd9,
  900 : #0affd1,
  A100 : #ffffff,
  A200 : #f5fffd,
  A400 : #c2fff2,
  A700 : #a8ffed,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$clgx-accent-p: (
  50 : #e7e9f9,
  100 : #c3c8f0,
  200 : #9ba3e6,
  300 : #737edc,
  400 : #5562d5,
  500 : #3746cd,
  600 : #313fc8,
  700 : #2a37c1,
  800 : #232fba,
  900 : #1620ae,
  A100 : #e1e3ff,
  A200 : #aeb2ff,
  A400 : #7b82ff,
  A700 : #626aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);



$clgx-typography: mat.define-typography-config(
  $font-family: '"Barlow", sans-serif'
);

$clgx-primary: mat.define-palette($clgx-primary-p, 500, 300, 900);
$clgx-accent: mat.define-palette($clgx-accent-p, 500, 300, 900);
$clgx-warn: mat.define-palette(mat.$pink-palette, 600);
$clgx-success: mat.define-palette(mat.$green-palette, 600);

$clgx-theme: mat.define-light-theme(
  (
    color: (
      primary: $clgx-primary,
      accent: $clgx-accent,
      warn: $clgx-warn
    ),
    typography: $clgx-typography
  )
);
