@use '~@angular/material' as mat;

$clgx-light-primary: mat.define-palette(mat.$grey-palette, 200, 500, 300);
$clgx-light-accent: mat.define-palette(mat.$brown-palette, 200);
$clgx-light-warn: mat.define-palette(mat.$deep-orange-palette, 200);

$clgx-light-theme: mat.define-light-theme(
  $clgx-light-primary,
  $clgx-light-accent,
  $clgx-light-warn
);
