@use '~@angular/material' as mat;

$clgx-nature-primary: mat.define-palette(mat.$brown-palette, 700, 300, 900);
$clgx-nature-accent: mat.define-palette(mat.$deep-purple-palette, 300);
$clgx-nature-warn: mat.define-palette(mat.$red-palette, 600);

$clgx-nature-theme: mat.define-light-theme(
  $clgx-nature-primary,
  $clgx-nature-accent,
  $clgx-nature-warn
);
