<div fxLayout="row" fxLayoutAlign="none start" class="breadcrumb ml-1">
    <small>&#60;</small>
    <div><span (click)="goback()">Back to home page</span></div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="start center" class="mt-4">
        <div class="mb-3">
            <span class="forget-pass-text">Forgot your password?</span>
        </div>
        <div class="forget-password-container mb-3 pt-3 pb-6" fxLayoutAlign="center center" *ngIf="showForgetPass">

            
                <form class="login-band" fxLayout="row" [formGroup]="forgotPasswordForm">
                <div>
                    <mat-label>Enter your email</mat-label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div style="margin-left:12px" class="login-btn">
                    <app-button [btnType]="'flat'" [isRounded]=true  [btnText]="'SUBMIT'" [btnSize]="'large'" (click)="forgotPassword()"></app-button>
          
                </div>
            </form>
        </div>
        <div class="forget-password-container mb-3 pt-3 pb-6" fxLayoutAlign="center center" *ngIf="!showForgetPass">
            <div class="login-band" fxLayout="column" fxFlex="46">
                <span class="resend-code-msg">A reset code has been sent to:</span>
                <span class="resend-code-email">{{emailId}}</span>
            </div>
        </div>

        <div class="need-help-box text-center">
            <p>Need help?</p>

            <div class="pt-1">
                If you have a question, please either contact us at 1-888-234-5678
                or click on chat and someone will be able to assist you.
            </div>
        </div>
    </div>
</div>
