@use '~@angular/material' as mat;

@mixin clgx-agency-details-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-details {
    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .escrow-data-value{
      font-family: Graphik-medium;
      color: mat.get-color-from-palette($accent) !important;

      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 56px;
      /* identical to box height, or 100% */
      
      display: flex;
      align-items: center;
    }

    .escarow-data-label{
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: #868686;
      display: flex;
      align-items: center;

    }

   
    .mat-tab-body-content{
      overflow-x: hidden !important;
    }
  }
}
