<div class="details-container" [ngClass]="routeAnimationsElements">
  <div class="details-dashboard row">
    <div class="col-6 pb-3 text-center escarow-data-label-div">
      <div  >
        <small class="escarow-data-label">Escrow</small>
        <span class="escrow-data-value" *ngIf="agency.agencyMasterId">12,345</span>
        <span class="escrow-data-value" *ngIf="!agency.agencyMasterId">0</span>
      </div>
      <div class="bottom-row">
        <small class="escarow-data-label">Non-escrow</small>
        <span class="escrow-data-value" *ngIf="agency.agencyMasterId">6,354</span>
        <span class="escrow-data-value" *ngIf="!agency.agencyMasterId">0</span>
      </div>
    </div>
    <div class="col-6 pb-3" >
      <div class="collection-frequency" >
        <clgx-collection-frequency 
        (defaultFreqSelected)="defaultFreqSelectedHandler($event)"
        (nonFreqSelected)="nonFreqSelectedHandler($event)" [defFreq]="defFreqSelected" [nonFreq]="nonFreqSelected"></clgx-collection-frequency>
      </div>
    </div>
  </div>
  <form class="form" 
    [formGroup]="agencyDetailsGroup" (ngSubmit)="save(agencyDetailsGroup)">
  <div class="agency-details">
    <div class="details">
      <div class="detail">
        <span>Overview</span>
      </div>
      <div class="details-inputs">
        <clgx-reactive-input
          [titleLabel]="'Agency Number'"
          [required]="isRequired('agencyNumber')"
          [clgxControlName]="'agencyNumber'"
          [showClear]="false"
          [error]="agencyNumber.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Agency Name'"
          [required]="isRequired('agencyName')"
          [clgxControlName]="'agencyName'"
          [showClear]="false"
          [error]="agencyName.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Agency Website'"
          [required]="isRequired('agencyWebsite')"
          [clgxControlName]="'agencyWebsite'"
          [showClear]="false"
          [error]="agencyWebsite.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-select
              [titleLabel]="'Lower Level Agency'"
              [options]="lowLEvelOptions || []"
              [clgxControlName]="'agencyLowerLevel'"
              [required]="isRequired('agencyLowerLevel')"
              [error]="agencyLowerLevel.errors?.required">
          </clgx-reactive-select>
          <div class="toggle">
            <span class="agency-reactive-input-label">Collecting Agency</span>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
            [required]="isRequired('agencyCollecting')" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="toggle">
            <span class="agency-reactive-input-label">Active?</span>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
              [required]="isRequired('agencyActive')" formControlName="agencyActive">
              <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>
    </div>
    <div class="details"></div>
    <div class="details">
      <div class="detail">
        <span>Location</span>
      </div>
      <div class="details-inputs">
        <clgx-reactive-input
          [titleLabel]="'Agency Suits Address'"
          [required]="isRequired('agencySuitsAddress')"
          [clgxControlName]="'agencySuitsAddress'"
          [showClear]="false"
          [error]="agencySuitsAddress.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Agency City'"
          [required]="isRequired('agencyCity')"
          [clgxControlName]="'agencyCity'"
          [showClear]="false"
          [error]="agencyCity.errors?.required">
        </clgx-reactive-input>
          <!-- <div class="state-zip"> -->
            <clgx-reactive-select
              [titleLabel]="'State'"
              [options]="stateOptions || []"
              [clgxControlName]="'stateId'"
              [required]="isRequired('stateId')"
              [error]="stateId.errors?.required">
            </clgx-reactive-select>
            <clgx-reactive-input
              [titleLabel]="'Zip'"
              [required]="isRequired('payZip')"
              [clgxControlName]="'payZip'"
              [showClear]="false"
              [error]="payZip.errors?.required">
            </clgx-reactive-input>
          <!-- </div> -->
          <clgx-reactive-select
            [titleLabel]="'County'"
            [options]="(agencyCounties$ | async) || []"
            [clgxControlName]="'countyId'"
            [disabled]="isAgencyCountiesLoading || !(agencyCounties$ | async)?.length"
            [required]="isRequired('countyId')"
            [error]="countyId.errors?.required">
          </clgx-reactive-select>
          <!-- <mat-spinner matPrefix mode="indeterminate" style="margin:0 auto;"
              *ngIf="isAgencyCountiesLoading" [diameter]="30"></mat-spinner> -->
      </div>
    </div>
    <div class="details"></div>
    <div class="details">
      <div class="detail">
        <span>Contact</span>
      </div>
      <div class="details-inputs">
          <clgx-reactive-input
            [titleLabel]="'Contact Name'"
            [required]="isRequired('contactName')"
            [clgxControlName]="'contactName'"
            [showClear]="false"
            [error]="contactName.errors?.required">
          </clgx-reactive-input>
          <clgx-reactive-input
            [titleLabel]="'Contact Email'"
            [required]="isRequired('contactEmail')"
            [clgxControlName]="'contactEmail'"
            [showClear]="false"
            [error]="contactEmail.errors?.required">
          </clgx-reactive-input>
          <clgx-reactive-input
            [titleLabel]="'Contact Phone'"
            [required]="isRequired('phoneNumber')"
            [clgxControlName]="'phoneNumber'"
            [showClear]="false"
            [error]="phoneNumber.errors?.required">
          </clgx-reactive-input>
          <!-- <mat-error *ngIf="phoneNumber?.errors?.pattern || phoneNumber?.errors?.maxlength || phoneNumber?.errors?.minlength">
            Phone number must be 10 numbers
          </mat-error> -->
          <clgx-reactive-input
            [titleLabel]="'Contact Fax'"
            [required]="isRequired('contactFax')"
            [clgxControlName]="'contactFax'"
            [showClear]="false"
            [error]="contactFax.errors?.required">
          </clgx-reactive-input>
          <clgx-reactive-input
            [titleLabel]="'Parsel Format'"
            [required]="isRequired('parcelFormat')"
            [clgxControlName]="'parcelFormat'"
            [showClear]="false"
            [error]="parcelFormat.errors?.required">
          </clgx-reactive-input>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="agency-details">
    <div class="details">
      <div class="detail">
        <span>Assessor Info</span>
      </div>
      <div class="details-inputs">
        <clgx-reactive-input
          [titleLabel]="'Assessor Name'"
          [required]="isRequired('assessorName')"
          [clgxControlName]="'assessorName'"
          [showClear]="false"
          [error]="assessorName.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Assessor Contact Name'"
          [required]="isRequired('assessorContactName')"
          [clgxControlName]="'assessorContactName'"
          [showClear]="false"
          [error]="assessorContactName.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Assessor Phone'"
          [required]="isRequired('assessorPhoneNumber')"
          [clgxControlName]="'assessorPhoneNumber'"
          [showClear]="false"
          [error]="assessorPhoneNumber.errors?.required">
        </clgx-reactive-input>
        <!-- (keypress)="keyPress($event)" -->
        <!-- <mat-error *ngIf="assessorPhoneNumber?.errors?.pattern || assessorPhoneNumber?.errors?.maxlength || assessorPhoneNumber?.errors?.minlength">
          Phone number must be 10 numbers
        </mat-error> -->
        <clgx-reactive-input
          [titleLabel]="'Map Cost'"
          [required]="isRequired('mapCost')"
          [clgxControlName]="'mapCost'"
          [showClear]="false"
          [error]="mapCost.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Website Access Cost'"
          [required]="isRequired('websiteAccessCost')"
          [clgxControlName]="'websiteAccessCost'"
          [showClear]="false"
          [error]="websiteAccessCost.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Assessor Website'"
          [required]="isRequired('assessorWebsite')"
          [clgxControlName]="'assessorWebsite'"
          [showClear]="false"
          [error]="assessorWebsite.errors?.required">
        </clgx-reactive-input>
      </div>
    </div>
    <div class="details"></div>
    <div class="details">
      <div class="detail">
        <span>Location</span>
      </div>
      <div class="details-inputs">
        <clgx-reactive-input
          [titleLabel]="'Assessor Address'"
          [required]="isRequired('assessorAddress')"
          [clgxControlName]="'assessorAddress'"
          [showClear]="false"
          [error]="assessorAddress.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-input
          [titleLabel]="'Assessor City'"
          [required]="isRequired('assessorCity')"
          [clgxControlName]="'assessorCity'"
          [showClear]="false"
          [error]="assessorCity.errors?.required">
        </clgx-reactive-input>
        <clgx-reactive-select
            [titleLabel]="'State'"
            [options]="stateOptions || []"
            [clgxControlName]="'assessorStateId'"
            [required]="isRequired('assessorStateId')"
            [error]="assessorStateId.errors?.required">
          </clgx-reactive-select>
          <clgx-reactive-input
            [titleLabel]="'Zip'"
            [required]="isRequired('assessorZip')"
            [clgxControlName]="'assessorZip'"
            [showClear]="false"
            [error]="assessorZip.errors?.required">
          </clgx-reactive-input>
        <!-- </div> -->
        <clgx-reactive-select
          [titleLabel]="'County'"
          [options]="(assessorCounties$ | async) || []"
          [clgxControlName]="'assessorCountyId'"
          [disabled]="isAgencyCountiesLoading || !(assessorCounties$ | async)?.length"
          [required]="isRequired('assessorCountyId')"
          [error]="assessorCountyId.errors?.required">
        </clgx-reactive-select>
      </div>
    </div>
    <div class="details"></div>
    <div class="details">
      <div class="detail">
        <span>Tax bill request</span>
      </div>
      <div class="details-inputs">
        <clgx-reactive-select
          [titleLabel]="'Billing Request Format'"
          [options]="(assessorCounties$ | async) || []"
          [clgxControlName]="'billingRequestId'"
          [required]="isRequired('billingRequestId')"
          [error]="billingRequestId.errors?.required">
        </clgx-reactive-select>
        <clgx-reactive-select
          [titleLabel]="'Media Type'"
          [options]="mediaType || []"
          [clgxControlName]="'mediaTypeId'"
          [required]="isRequired('mediaTypeId')"
          [error]="mediaTypeId.errors?.required">
        </clgx-reactive-select>
        <div class="toggle" style="width: 100%">
          <span class="agency-reactive-input-label">Type: Paper</span>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
              [required]="isRequired('paperType')" formControlName="paperType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle" style="width: 100%">
          <span class="agency-reactive-input-label">Excel</span>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
          [required]="isRequired('excelType')" formControlName="excelType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle" style="width: 100%">
          <span class="agency-reactive-input-label">Mail</span>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
              [required]="isRequired('mailType')" formControlName="mailType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <clgx-reactive-input
            [titleLabel]="'Email ID'"
            [required]="isRequired('assessorEmailId')"
            [clgxControlName]="'assessorEmailId'"
            [showClear]="false"
            [error]="assessorEmailId.errors?.required">
          </clgx-reactive-input>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="save-btn">
    <button mat-raised-button color="primary" 
        [disabled]="agencyDetailsGroup.invalid || !defFreqSelected || !nonFreqSelected">
        Save
    </button>
  </div>
  </form>
</div>