<div class="details-container" [ngClass]="routeAnimationsElements">
  <div class="details-dashboard row">
    <div class="col-6 pb-3 text-center escarow-data-label-div">
      <div  >
        <small class="escarow-data-label">Escrow</small>
        <span class="escrow-data-value" *ngIf="agency.agencyMasterId">12,345</span>
        <span class="escrow-data-value" *ngIf="!agency.agencyMasterId">0</span>
      </div>
      <div class="bottom-row">
        <small class="escarow-data-label">Non-escrow</small>
        <span class="escrow-data-value" *ngIf="agency.agencyMasterId">6,354</span>
        <span class="escrow-data-value" *ngIf="!agency.agencyMasterId">0</span>
      </div>
    </div>
    <div class="col-6 pb-3" >
      <div class="collection-frequency" >
        <clgx-collection-frequency 
        (defaultFreqSelected)="defaultFreqSelectedHandler($event)"
        (nonFreqSelected)="nonFreqSelectedHandler($event)"></clgx-collection-frequency>
      </div>
    </div>
  </div>
  <form class="form" [formGroup]="agencyDetailsGroup" (ngSubmit)="save(agencyDetailsGroup)">
  <div class="agency-details">
    <div class="details">
      <div class="detail">
        <span>Overview</span>
      </div>
      <div class="details-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Agency Number</mat-label>
            <input matInput formControlName="agencyNumber"  [required]="isRequired('agencyNumber')">
            <mat-error *ngIf="agencyNumber.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agency Name</mat-label>
            <input matInput formControlName="agencyName" [required]="isRequired('agencyName')">
            <mat-error *ngIf="agencyName.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agency Website</mat-label>
            <input matInput formControlName="agencyWebsite" [required]="isRequired('agencyWebsite')">
            <mat-error *ngIf="agencyWebsite.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Lower Level Agency</mat-label>
            <mat-select formControlName="agencyLowerLevel" [required]="isRequired('agencyLowerLevel')">
              <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="agencyLowerLevel.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <div class="toggle">
            <mat-label>Collecting Agency</mat-label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
            [required]="isRequired('agencyCollecting')" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="toggle">
            <mat-label>Active?</mat-label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
            [required]="isRequired('agencyActive')" formControlName="agencyActive">
              <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
          </div>
      </div>
    </div>
    <div class="details">
      <div class="detail">
        <span>Location</span>
      </div>
      <div class="details-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Agency Suits Address</mat-label>
            <input matInput formControlName="agencySuitsAddress" [required]="isRequired('agencySuitsAddress')">
            <mat-error *ngIf="agencySuitsAddress.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agency City</mat-label>
            <input matInput formControlName="agencyCity" [required]="isRequired('agencyCity')">
            <mat-error *ngIf="agencyCity.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <div class="state-zip">
            <mat-form-field appearance="outline" style="width: 57%;">
              <mat-label>State</mat-label>
              <mat-select formControlName="stateId"
                (selectionChange)="stateSelectionChangeHandler($event)"   [required]="isRequired('stateId')">
                <mat-option *ngFor="let option of stateOptions" [value]="option.stateId">
                  {{option.stateName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="stateId.errors?.required">
                Required 
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width : 40%">
              <mat-label>Zip</mat-label>
              <input matInput formControlName="payZip" [required]="isRequired('payZip')">
              <mat-error *ngIf="payZip.errors?.required">
                Required 
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>County</mat-label>
            <mat-select formControlName="countyId" [disabled]="isCountiesLoading"
                 [required]="isRequired('countyId')">
              <mat-option *ngFor="let option of (counties$ | async)" [value]="option.countyId">
                {{option.countyName}}
              </mat-option>
            </mat-select>
            <mat-spinner matPrefix mode="indeterminate" style="margin:0 auto;"
              *ngIf="isCountiesLoading" [diameter]="30"></mat-spinner>
            <mat-error *ngIf="countyId.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline">
            <mat-label>County</mat-label>
            <input matInput formControlName="countyId" [required]="isRequired('countyId')">
            <mat-error *ngIf="countyId.errors?.required">
              Required 
            </mat-error>
          </mat-form-field> -->
      </div>
    </div>
    <div class="details">
      <div class="detail">
        <span>Contact</span>
      </div>
      <div class="details-inputs">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contact Name</mat-label>
            <input matInput formControlName="contactName" [required]="isRequired('contactName')">
            <mat-error *ngIf="contactName.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contact Email</mat-label>
            <input matInput formControlName="contactEmail" [required]="isRequired('contactEmail')">
            <mat-error *ngIf="contactEmail.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Contact Phone</mat-label>
            <input   matInput  type="text" (keypress)="keyPress($event)" required 
              formControlName="phoneNumber"  [required]="isRequired('phoneNumber')">
            <mat-error *ngIf="phoneNumber?.errors?.required">
              Required 
            </mat-error>
            <mat-error *ngIf="phoneNumber?.errors?.pattern || phoneNumber?.errors?.maxlength || phoneNumber?.errors?.minlength">
              Phone number must be 10 numbers
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Contact Fax</mat-label>
            <input matInput formControlName="contactFax" [required]="isRequired('contactFax')">
            <mat-error *ngIf="contactFax.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Parsel Format</mat-label>
            <input matInput formControlName="parcelFormat" [required]="isRequired('parcelFormat')">
            <mat-error *ngIf="parcelFormat.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="agency-details">
    <div class="details">
      <div class="detail">
        <span>Assessor Info</span>
      </div>
      <div class="details-inputs">
        <mat-form-field appearance="outline">
          <mat-label>Assessor Name</mat-label>
          <input matInput formControlName="assessorName" [required]="isRequired('assessorName')">
          <mat-error *ngIf="assessorName.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Assessor Contact Name</mat-label>
          <input matInput formControlName="assessorContactName" [required]="isRequired('assessorContactName')">
          <mat-error *ngIf="assessorContactName.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Assessor Phone</mat-label>
          <input type="text" (keypress)="keyPress($event)" matInput 
            formControlName="assessorPhoneNumber" [required]="isRequired('assessorPhoneNumber')">
          <mat-error *ngIf="assessorPhoneNumber.errors?.required">
            Required 
          </mat-error>
          <mat-error *ngIf="assessorPhoneNumber?.errors?.pattern || assessorPhoneNumber?.errors?.maxlength || assessorPhoneNumber?.errors?.minlength">
            Phone number must be 10 numbers
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Map Cost</mat-label>
          <input matInput formControlName="mapCost" [required]="isRequired('mapCost')">
          <mat-error *ngIf="mapCost.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Website Access Cost</mat-label>
          <input matInput formControlName="websiteAccessCost" [required]="isRequired('websiteAccessCost')">
          <mat-error *ngIf="websiteAccessCost.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Assessor Website</mat-label>
          <input matInput formControlName="assessorWebsite" [required]="isRequired('assessorWebsite')">
          <mat-error *ngIf="assessorWebsite.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="details">
      <div class="detail">
        <span>Location</span>
      </div>
      <div class="details-inputs">
        <mat-form-field appearance="outline">
          <mat-label>Assessor Address</mat-label>
          <input matInput formControlName="assessorAddress" [required]="isRequired('assessorAddress')">
          <mat-error *ngIf="assessorAddress.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Assessor City</mat-label>
          <input matInput formControlName="assessorCity" [required]="isRequired('assessorCity')">
          <mat-error *ngIf="assessorCity.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <div class="state-zip">
          <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>State</mat-label>
            <mat-select formControlName="assessorStateId"
                 [required]="isRequired('assessorStateId')">
              <mat-option *ngFor="let option of stateOptions" [value]="option.stateId">
                {{option.stateName}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="assessorStateId.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width : 55%">
            <mat-label>Zip</mat-label>
            <input matInput formControlName="assessorZip" [required]="isRequired('assessorZip')">
            <mat-error *ngIf="assessorZip.errors?.required">
              Required 
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="detail">
        <span>Tax bill request</span>
      </div>
      <div class="details-inputs">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Billing Request Format</mat-label>
          <mat-select formControlName="billingRequestId" [required]="isRequired('billingRequestId')">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="billingRequestId.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Media Type</mat-label>
          <mat-select formControlName="mediaTypeId" [required]="isRequired('mediaTypeId')">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="mediaTypeId.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
        <div class="toggle" style="width: 100%">
          <mat-label>Type: Paper</mat-label>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
              [required]="isRequired('paperType')" formControlName="paperType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle" style="width: 100%">
          <mat-label>Excel</mat-label>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
          [required]="isRequired('excelType')" formControlName="excelType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="toggle" style="width: 100%">
          <mat-label>Mail</mat-label>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
          [required]="isRequired('mailType')" formControlName="mailType">
            <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
            <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email ID</mat-label>
          <input matInput formControlName="assessorEmailId" [required]="isRequired('assessorEmailId')">
          <mat-error *ngIf="assessorEmailId.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="divider">
  </div>
  <div class="save-btn">
    <button mat-raised-button color="primary" 
        [disabled]="agencyDetailsGroup.invalid || !defFreqSelected || !nonFreqSelected">
        Save
    </button>
  </div>
  </form>
</div>