@use '~@angular/material' as mat;

@mixin clgx-agency-details-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-details {

    .agency-details {
      display: grid;
      grid-template-columns: 26% 11% 26% 11% 25%;
      padding: 3rem 75px;
      .details {
        display: flex;
        flex-direction: column;
        .detail {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 22px;
          color: #000b6c;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        .details-inputs {
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          .state-zip {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 90%;
          }
          // mat-form-field {
          //   padding: 1rem 0;
          //   width: 90%;
          // }
          .toggle {
            width: 90%;
            // margin: 0 0 2.7rem 0;
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            .agency-reactive-input-label {
              font-family: Graphik-regular !important;
              font-style: normal !important;
              font-weight: 400 !important;
              font-size: 12px !important;
              line-height: 18px !important;
              letter-spacing: 0.03em !important;
              color: #868686 !important;
            }
            mat-button-toggle-group {
              height: 48px !important;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .mat-button-toggle {
              width: 50%;
              height: 56px;
              padding: 0 !important;
              display: flex;
              align-items: center;
              justify-content: center;
              i {
                font-size: 25px;
                color: rgba($color: #000000, $alpha: 0.4);
              }
            }
          }
        }
      }
    }
    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .escrow-data-value{
      font-family: Graphik-medium;
      color: mat.get-color-from-palette($accent) !important;

      font-style: normal;
      font-weight: 500;
      font-size: 56px;
      line-height: 56px;
      /* identical to box height, or 100% */
      
      display: flex;
      align-items: center;
    }

    .escarow-data-label{
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: #868686;
      display: flex;
      align-items: center;

    }

   
    .mat-tab-body-content{
      overflow-x: hidden !important;
    }
  }
}
