<div fxLayout="row" fxLayoutAlign="none start" class="breadcrumb ml-1">
    <small>&#60;</small>
    <div (click)="goback()">Back to home page</div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="displayChangePass">
    <div fxLayout="column" fxLayoutAlign="start center" class="mt-4">

        <div class="mb-3" *ngIf="forgotPassTxt || changePassTxt">
            <span class="forget-pass-text" *ngIf="forgotPassTxt">Forgot your password?</span>
            <span class="forget-pass-text"  *ngIf="changePassTxt">Change your password</span>
        </div>

        <div class="mb-3" *ngIf="!showResetPass">
            <span class="forget-pass-text">Your password has been reset.</span>
        </div>

        <div class="reset-password-container mb-3 pt-3 pb-6" fxLayout="column" fxLayoutAlign="center center"
            *ngIf="showResetPass">
            <form class="login-band" fxLayout="column" [formGroup]="changePasswordForm">
                <div>
                    <mat-label>Enter your new password</mat-label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="password"
                                (click)="enableValidations()">
                            <mat-icon class="hide-password-icon" matSuffix (click)="hidePass = !hidePass">{{hidePass ?
                                'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-label>Enter your new password again</mat-label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput [type]="'password'" formControlName="confirmPassword" [disabled]="isConfirmPassDisable()">
                        </mat-form-field>
                    </div>
                </div>
                <div class="login-btn">
                 <app-button [fullWidth]=true [btnType]="'flat'" [isRounded]=true  [btnText]="'RESET PASSWORD'" [btnSize]="'large'" *ngIf="forgotPassTxt"
                 (click)="changePassword()" [btnDisabled]="!changePasswordForm.valid"></app-button>
                <app-button [fullWidth]=true [btnType]="'flat'" [isRounded]=true  [btnText]="'CHANGE PASSWORD'" [btnSize]="'large'" *ngIf="changePassTxt"
                (click)="changePassword()" [btnDisabled]="!changePasswordForm.valid"></app-button>
                </div>


            </form>
            <div class="mt-3 validation-text" style="width:45%" *ngIf="showValidationText"
                [ngClass]="{'succesMessage': !changePasswordForm['controls'].password.hasError('required') &&
         (!changePasswordForm['controls'].password.hasError('minlength') || !changePasswordForm['controls'].password.hasError('maxlength')), 
         'errorMessage': changePasswordForm['controls'].password.hasError('required') ||
         changePasswordForm['controls'].password.hasError('minlength') || changePasswordForm['controls'].password.hasError('maxlength')}">
                <mat-icon matSuffix class="v-align-middle">check_circle</mat-icon>
                <span class="ml-1  text-14">Min 8 character & max 20
                    character</span>
            </div>
            <div class="mt-3" style="width:45%" *ngIf="showValidationText" [ngClass]="{'succesMessage': !changePasswordForm['controls'].password.hasError('required') &&
                !changePasswordForm['controls'].password.hasError('minoneNumber'), 
                'errorMessage': changePasswordForm['controls'].password.hasError('required') ||
                changePasswordForm['controls'].password.hasError('minoneNumber')}">
                <mat-icon matSuffix class="v-align-middle">check_circle</mat-icon>
                <span class="ml-1 text-14">1
                    Number</span>
            </div>
            <div class="mt-3" style="width:45%" *ngIf="showValidationText" [ngClass]="{'succesMessage': !changePasswordForm['controls'].password.hasError('required') &&
                !changePasswordForm['controls'].password.hasError('pattern'), 
                'errorMessage': changePasswordForm['controls'].password.hasError('required') ||
                changePasswordForm['controls'].password.hasError('pattern')}">
                <mat-icon matSuffix class="v-align-middle">check_circle</mat-icon>
                <span class="ml-1 text-14">1 Special
                    Character</span>
            </div>
            <div class="mt-3" style="width:45%" *ngIf="showValidationText" [ngClass]="{'succesMessage': !changePasswordForm['controls'].confirmPassword.hasError('required') &&
                !changePasswordForm['controls'].confirmPassword.hasError('validateEqual') && isEnabled, 
                'errorMessage': changePasswordForm['controls'].confirmPassword.hasError('required') ||
                changePasswordForm['controls'].confirmPassword.hasError('validateEqual') || !isEnabled}">
                <mat-icon matSuffix class="v-align-middle">check_circle</mat-icon>
                <span class="ml-1 text-14">Both
                    passoword should match</span>
            </div>
        </div>

        <div class="reset-password-container mb-3 pt-3 pb-6" fxLayoutAlign="center center" *ngIf="!showResetPass">
            <form class="login-band" fxLayout="row" [formGroup]="loginForm">
                <div>
                    <mat-label>Email</mat-label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="username">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <mat-label>Password</mat-label>
                    <div>
                        <mat-form-field appearance="outline">
                            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
                            <mat-icon class="hide-password-icon" matSuffix (click)="hide = !hide">{{hide ?
                                'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                    <!-- <mat-label style="margin-top: 10px;">Forgot Password?</mat-label> -->
                </div>
                <div class="login-btn">
                    <button mat-flat-button class="primary-button-invert" (click)="submitForm()">LOGIN</button>
                </div>

            </form>
        </div>

        <div class="need-help-box text-center">
            <p>Need help?</p>

            <div class="pt-1">
                If you have a question, please either contact us at 1-888-234-5678
                or click on chat and someone will be able to assist you.
            </div>
        </div>

    </div>
</div>