@import '../../../../../styles-variables';
table {
  width: 100%;
}
.table-log{
  overflow: hidden;
}

.log-dates-table{
  box-shadow: none;
}

.date-column{
  width: 125px;
}

.user-column {
  width: 150px;
}

.page-title-div{
  height: 70px;
  padding-top: 30px;
}

.page-second-section-div{
  height: 125px;
  padding-top: 75px;
}


/* Structure */
.log-container {
  position: relative;
}

.log-container {
  position: relative;
  min-height: 400px;
  max-height: 700px;
  overflow: auto;
}

.log-log-container {
  position: relative;
  min-height: 300px;
  max-height: 700px;
  overflow: auto;
}


.log-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.log-second-footer-row{
  width: 100%;
}

.action-column{
  width: 70px;
  text-align: center;
}