<div style="overflow-x: hidden;margin-bottom: 100px;" [ngClass]="routeAnimationsElements">
  <div class="page-title-div">
    <span class="page-title"  animateOnScroll animationName="animated fadeInDown">Service Log</span>
  </div>
  <div class="log-container mat-elevation-z8">
    <div class="log-log-container">
      <table  class="log-table " mat-table recycleRows [dataSource]="logDataSource">
        <!-- Frequency Column -->
        <ng-container matColumnDef="date" >
          <th mat-header-cell *matHeaderCellDef class="date-column">
            <span class="agency-table-header-label">Date</span>   
            </th>
          <td mat-cell *matCellDef="let element" class="date-column">{{element.date}}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef class="user-column"> 
            <span class="agency-table-header-label">User</span>    
          </th>
          <td mat-cell *matCellDef="let element" class="user-column">{{element.name}}</td>
        </ng-container>

        <!-- Installment Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>
            <span class="agency-table-header-label">Description</span> 
          </th>
          <td mat-cell *matCellDef="let element">{{element.description}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
    </div>
    <mat-paginator #logPaginator [pageSizeOptions]="logPageSizeOptions" [length]="logTablelength" [pageSize]="logPageSize" showFirstLastButtons></mat-paginator>
  </div>
</div>