  <div class="payment-container" [ngClass]="routeAnimationsElements">
    <div class="payment-method-selection-div">
      <div class="row">
        <div class="col-7 pb-3">
        </div>

        <div class="col-5 pb-3 text-left payment-method-section">
          <span class="method-label">Method of Payment Required</span>
          <section >
            <mat-checkbox class="payment-method-check">Certified check</mat-checkbox>
            <mat-checkbox class="payment-method-check" >Check</mat-checkbox>
            <mat-checkbox class="payment-method-check" >Wire</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
  <form class="form" 
    [formGroup]="paymentForm" (ngSubmit)="save(paymentForm)">
    <div class="payment-tab" style="width: 100%;">
      <div class="row" style="width: 100%;">
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Payment contact details</span>
            </div>
            <div class="details-inputs">
                <mat-form-field appearance="outline">
                  <mat-label>Pay to Name</mat-label>
                  <input matInput formControlName="payName">
                  <mat-error *ngIf="payNameFC?.errors?.required">
                    Required Field
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Pay to Address</mat-label>
                  <input matInput formControlName="payAddress">
                  <mat-error *ngIf="payAddressFC?.errors?.required">
                    Required Field
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Pay to City</mat-label>
                  <input matInput formControlName="payCity">
                  <mat-error *ngIf="payCityFC?.errors?.required">
                    Required Field
                  </mat-error>
                </mat-form-field>
                <div class="state-zip">
                  <mat-form-field appearance="outline" style="width: 40%;">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="stateId">
                    <mat-error *ngIf="stateIdFC?.errors?.required">
                      Required Field
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width : 55%">
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip">
                    <mat-error *ngIf="zipFC?.errors?.required">
                      Required Field
                    </mat-error>
                  </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                  <mat-label>Email File to:</mat-label>
                  <input matInput formControlName="emailFileId">
                  <mat-error *ngIf="emailFileIdFC?.errors?.required">
                    Required Field
                  </mat-error>
                </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Payment details</span>
            </div>
            <div class="details-inputs">
              <mat-form-field appearance="outline">
                <mat-label>Number of Parcels per Check</mat-label>
                <input matInput formControlName="numOfParcels">
                <mat-error *ngIf="numOfParcelsFC?.errors?.required">
                  Required Field
                </mat-error>
              </mat-form-field>
              <div class="toggle">
                <mat-label>Must Have Original TB</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="orginalTB">
                  <mat-button-toggle class="mat-button-toggle" value="yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="no"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Fee Without Original TB</mat-label>
                <input matInput formControlName="feeWithoutOrginalTB">
                <mat-error *ngIf="feeWithoutOrginalTBFC?.errors?.required">
                  Required Field
                </mat-error>
              </mat-form-field>
              <div class="toggle">
                <mat-label>Listing Accepted for Payment</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="listedPayment">
                  <mat-button-toggle class="mat-button-toggle" value="yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="no"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Email File / Wire Funds</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="emailWire">
                  <mat-button-toggle class="mat-button-toggle" value="yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="no"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Overnight</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="overNight">
                  <mat-button-toggle class="mat-button-toggle" value="yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="no"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Postmark Accepted</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="postmarkAccepted">
                  <mat-button-toggle class="mat-button-toggle" value="yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="no"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Check example</span>
            </div>
            <div class="check-image-section">
                <span class="check-img-label">Click to expanded view</span>
              <img class="cehck-img" src="assets/images/check.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="save-btn">
      <button>Save</button>
    </div>
  </form>
</div>