  <div class="payment-container" [ngClass]="routeAnimationsElements">
    <div class="payment-method-selection-div">
      <div class="row">
        <div class="col-7 pb-3">
        </div>

        <div class="col-5 pb-3 text-left payment-method-section">
          <span class="method-label">Method of Payment Required</span>
          <section >
            <mat-checkbox [ngModel]="paymentCertified" (change)="paymentMethodChangeHandler('certified')" class="payment-method-check">Certified check</mat-checkbox>
            <mat-checkbox [ngModel]="paymentCheck" (change)="paymentMethodChangeHandler('check')" class="payment-method-check" >Check</mat-checkbox>
            <mat-checkbox [ngModel]="paymentWire" (change)="paymentMethodChangeHandler('wire')" class="payment-method-check" >Wire</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
    <form class="form" [formGroup]="paymentFormGroup" (ngSubmit)="save(paymentFormGroup)">
    <div class="payment-tab" style="width: 100%;">
      <!-- <div class="row" style="width: 100%;"> -->
        <!-- <div class="col-4 pb-3"> -->
          <div class="details">
            <div class="detail">
              <span>Payment contact details</span>
            </div>
            <div class="details-inputs">
                <clgx-reactive-input
                  [titleLabel]="'Pay to Name'"
                  [required]="isRequired('payName')"
                  [clgxControlName]="'payName'"
                  [showClear]="false">
                </clgx-reactive-input>
                <clgx-reactive-input
                  [titleLabel]="'Pay to Address'"
                  [required]="isRequired('payAddress')"
                  [clgxControlName]="'payAddress'"
                  [showClear]="false">
                </clgx-reactive-input>
                <clgx-reactive-input
                  [titleLabel]="'Pay to City'"
                  [required]="isRequired('payCity')"
                  [clgxControlName]="'payCity'"
                  [showClear]="false">
                </clgx-reactive-input>
                  <clgx-reactive-select
                    [titleLabel]="'State'"
                    [options]="stateOptions || []"
                    [clgxControlName]="'stateId'"
                    [required]="isRequired('stateId')"
                    [error]="stateId.errors?.required">
                  </clgx-reactive-select>
                  <!-- <mat-form-field appearance="outline" color="accent" style="width: 57%;">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="stateId" #paymentState
                      (selectionChange)="stateSelectionChangeHandler($event, 'paymentStates')" [required]="isRequired('stateId')">
                      <mat-option *ngFor="let option of stateOptions" [value]="option.stateId">
                        {{option.stateName}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="stateId.errors?.required">
                      Required 
                    </mat-error>
                  </mat-form-field> -->
                  <clgx-reactive-input
                    [titleLabel]="'Zip'"
                    [required]="isRequired('zip')"
                    [clgxControlName]="'zip'"
                    [showClear]="false"
                    [error]="zip.errors?.required">
                  </clgx-reactive-input>
                <clgx-reactive-select
                  [titleLabel]="'County'"
                  [options]="(paymentCounties$ | async) || []"
                  [clgxControlName]="'countyId'"
                  [disabled]="isPaymentCountiesLoading || !(paymentCounties$ | async)?.length"
                  [required]="isRequired('countyId')"
                  [error]="countyId.errors?.required">
                </clgx-reactive-select>
                <clgx-reactive-input
                  [titleLabel]="'Email File to:'"
                  [required]="isRequired('emailFileId')"
                  [clgxControlName]="'emailFileId'"
                  [showClear]="false">
                </clgx-reactive-input>
            </div>
          </div>
          <div class="details"></div>
        <!-- </div> -->
        <!-- <div class="col-4 pb-3"> -->
          <div class="details">
            <div class="detail">
              <span>Payment details</span>
            </div>
            <div class="details-inputs">
              <clgx-reactive-input
                [titleLabel]="'Number of Parcels per Check'"
                [required]="isRequired('numOfParcels')"
                [clgxControlName]="'numOfParcels'"
                [showClear]="false">
              </clgx-reactive-input>
              <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Must Have Original TB</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('orginalTB')" formControlName="orginalTB">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <clgx-reactive-input
                [titleLabel]="'Fee Without Original TB'"
                [required]="isRequired('feeWithoutOrginalTB')"
                [clgxControlName]="'feeWithoutOrginalTB'"
                [showClear]="false">
              </clgx-reactive-input>
             <div class="toggle"  style="width: 100%">
              <span class="agency-reactive-input-label">Listing Accepted for Payment</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('listedPayment')" formControlName="listedPayment">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
             <div class="toggle"  style="width: 100%">
              <span class="agency-reactive-input-label">Email File / Wire Funds</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('emailWire')" formControlName="emailWire">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
             <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Overnight</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                [required]="ispaymentFormGroupFieldRequired('overNight')" formControlName="overNight">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
             <div class="toggle"  style="width: 100%">
                <span class="agency-reactive-input-label">Postmark Accepted</span>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('postmarkAccepted')"  formControlName="postmarkAccepted">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
          <div class="details"></div>
        <!-- </div> -->
        <!-- <div class="col-4 pb-3"> -->
          <div class="details">
            <div class="detail">
              <span>Check example</span>
            </div>
            <div class="check-image-section">
                <span class="check-img-label">Click to expanded view</span>
              <img class="cehck-img" src="assets/images/check.jpg">
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="divider">
    </div>
    <div class="save-btn">
      <button  [disabled]="isAnyDataItemsAdded()">Save</button>
    </div>
  </form>
</div>