  <div class="payment-container" [ngClass]="routeAnimationsElements">
    <div class="payment-method-selection-div">
      <div class="row">
        <div class="col-7 pb-3">
        </div>

        <div class="col-5 pb-3 text-left payment-method-section">
          <span class="method-label">Method of Payment Required</span>
          <section >
            <mat-checkbox [ngModel]="paymentCertified" (change)="paymentMethodChangeHandler('certified')" class="payment-method-check">Certified check</mat-checkbox>
            <mat-checkbox [ngModel]="paymentCheck" (change)="paymentMethodChangeHandler('check')" class="payment-method-check" >Check</mat-checkbox>
            <mat-checkbox [ngModel]="paymentWire" (change)="paymentMethodChangeHandler('wire')" class="payment-method-check" >Wire</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
    <form class="form" [formGroup]="paymentFormGroup" (ngSubmit)="save(paymentFormGroup)">
    <div class="payment-tab" style="width: 100%;">
      <div class="row" style="width: 100%;">
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Payment contact details</span>
            </div>
            <div class="details-inputs">
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Pay to Name</mat-label>
                  <input matInput formControlName="payName" [required]="ispaymentFormGroupFieldRequired('payName')">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Pay to Address</mat-label>
                  <input matInput formControlName="payAddress" [required]="ispaymentFormGroupFieldRequired('payAddress')">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Pay to City</mat-label>
                  <input matInput formControlName="payCity" [required]="ispaymentFormGroupFieldRequired('payCity')">
                </mat-form-field>
                <div class="state-zip">
                  <mat-form-field appearance="outline" color="accent" style="width: 40%;">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="stateId" [required]="ispaymentFormGroupFieldRequired('stateId')"
                        >
                      <mat-option *ngFor="let option of stateOptions" [value]="option.stateId">
                        {{option.stateName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" color="accent" style="width : 55%">
                    <mat-label>Zip</mat-label>
                    <input matInput formControlName="zip" [required]="ispaymentFormGroupFieldRequired('zip')">
                  </mat-form-field>
                </div>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Email File to:</mat-label>
                  <input matInput formControlName="emailFileId" [required]="ispaymentFormGroupFieldRequired('emailFileId')">
                </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Payment details</span>
            </div>
            <div class="details-inputs">
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Number of Parcels per Check</mat-label>
                <input matInput formControlName="numOfParcels" [required]="ispaymentFormGroupFieldRequired('numOfParcels')">
              </mat-form-field>
              <div class="toggle">
                <mat-label>Must Have Original TB</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('orginalTB')" formControlName="orginalTB">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Fee Without Original TB</mat-label>
                <input matInput formControlName="feeWithoutOrginalTB" [required]="ispaymentFormGroupFieldRequired('feeWithoutOrginalTB')">
              </mat-form-field>
              <div class="toggle">
                <mat-label>Listing Accepted for Payment</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('listedPayment')" formControlName="listedPayment">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Email File / Wire Funds</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('emailWire')" formControlName="emailWire">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Overnight</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                [required]="ispaymentFormGroupFieldRequired('overNight')" formControlName="overNight">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="toggle">
                <mat-label>Postmark Accepted</mat-label>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" 
                [required]="ispaymentFormGroupFieldRequired('postmarkAccepted')"  formControlName="postmarkAccepted">
                  <mat-button-toggle class="mat-button-toggle" value="1"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
                  <mat-button-toggle class="mat-button-toggle" value="0"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 pb-3">
          <div class="details">
            <div class="detail">
              <span>Check example</span>
            </div>
            <div class="check-image-section">
                <span class="check-img-label">Click to expanded view</span>
              <img class="cehck-img" src="assets/images/check.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
    </div>
    <div class="save-btn">
      <button  [disabled]="isAnyDataItemsAdded()">Save</button>
    </div>
  </form>
</div>