  <div class="clgx-reactive-input" >
    <div>
      <div>
        <span class="agency-input-label">{{titleLabel}}<span *ngIf="required" style="color:orangered;">*</span></span>
      </div>
      <div >
        <mat-form-field 
            class="clgx-mat-input" 
            floatLabel='never' 
            appearance="outline" color="accent">
          <input matInput 
            #inputValue 
            [formControlName]="clgxControlName"
            [required]="required" 
             >
            <i matPrefix  *ngIf="showClear"
                (click)="clearTextHandler($event)" 
                class="fa fa-close clear-icon">
            </i>
            <mat-error *ngIf="error">
              Required 
            </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
