
<form class="form" [formGroup]="agency_payment">
  <div class="agency-payment">
    <div class="details">
      <div class="detail">
        <span>Contact Info</span>
      </div>
      <div class="details-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Contact Name</mat-label>
            <input matInput formControlName="contactName">
            <mat-error *ngIf="contactName.invalid">{{getErrorMessage(contactName)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact Phone</mat-label>
            <input matInput formControlName="contactPhone">
            <mat-error *ngIf="contactPhone.invalid">{{getErrorMessage(contactPhone)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contact Fax</mat-label>
            <input matInput formControlName="contactFax">
            <mat-error *ngIf="contactFax.invalid">{{getErrorMessage(contactFax)}}</mat-error>
          </mat-form-field>
         <mat-form-field appearance="outline">
            <mat-label>Contact Email</mat-label>
            <input matInput formControlName="contactEmail">
            <mat-error *ngIf="contactEmail.invalid">{{getErrorMessage(contactEmail)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Agency Website</mat-label>
            <input matInput formControlName="agencyWebsite">
            <mat-error *ngIf="agencyWebsite.invalid">{{getErrorMessage(agencyWebsite)}}</mat-error>
          </mat-form-field>
      </div>        
    </div>
     <div class="details">
      <div class="detail">
        <span>Payment Details</span>
      </div>
      <div class="details-inputs2 padding-top">
        <div class="toggle"> 
            <mat-label>AMT Available on Website</mat-label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="toggle">
            <mat-label>Cost to Pay Using Copy of TB</mat-label>
             <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="toggle">
             <mat-label>Listing Accepted for Payment</mat-label>
             <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="toggle">    
             <mat-label>Mail-a-way Only Req</mat-label>
             <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="toggle">     
             <mat-label>Agency Expect Web TB</mat-label>
             <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="toggle">    
             <mat-label>Postmark Accepted</mat-label>
             <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="agencyCollecting">
              <mat-button-toggle class="mat-button-toggle" value="Yes"><i class="fas fa-thumbs-up"></i></mat-button-toggle>
              <mat-button-toggle class="mat-button-toggle" value="No"><i class="fas fa-thumbs-down"></i></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
      </div>        
    </div>
     <div class="details">
      <div class="detail">
        <span style="padding-top:1em"> </span>
      </div>
      <div class="details-inputs">
          <mat-form-field appearance="outline">
            <mat-label>Copy Fee</mat-label>
            <input matInput formControlName="copyFee">
            <mat-error *ngIf="copyFee.invalid">{{getErrorMessage(copyFee)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Fee for Mail a-Way</mat-label>
            <input matInput formControlName="feeForMailAWay">
            <mat-error *ngIf="feeForMailAWay.invalid">{{getErrorMessage(feeForMailAWay)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>No. of Parcels per check</mat-label>
            <input matInput formControlName="noOfParcelsPerCheck">
            <mat-error *ngIf="noOfParcelsPerCheck.invalid">{{getErrorMessage(noOfParcelsPerCheck)}}</mat-error>
          </mat-form-field>         
      </div>        
    </div>
</div>
</form>

<mat-divider style="margin-top:30px;margin-bottom:30px;"></mat-divider>