<!--footer section -->
<footer [class]="class">
	<div class="light-layout" >
		<div class="container" style="border-bottom: 1px dotted silver;padding-bottom: 10px;">
			<section class="small-section border-section border-top-0 pt-4">
				<div class="row">
					<div class="col-lg-6">
						<div class="subscribe">
							<div>
								<h4>KNOW IT ALL FIRST!</h4>
								<p>Never Miss Anything From Taxlogix By Signing Up To Our Newsletter. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<form class="form-inline subscribe-form" [formGroup]="emailForm" >
							<div class="row">
								<div class="col-lg-10  col-sm-9 align-items-end mr-0 pr-0">
									<div class="form-group">
										<input type="email" formControlName="email" class="form-control" placeholder="Enter your email">
										<div *ngIf ="(email?.invalid && email?.touched) || email?.dirty" class="text-left">
										<small class="error" *ngIf="email?.errors?.required">Email is Required</small>
										<small class="error" *ngIf="email?.errors?.pattern">Enter Valid email</small>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-sm-2 align-items-start ml-0 pl-0">
									<button type="submit" mat-raised-button color="primary" (click)="subscribeForm()" 
											[disabled]="email?.errors?.required || email?.errors?.pattern">subscribe</button>
								</div>
							</div>
							
							
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	<section class="section-b-space light-layout mt-10" style="margin-top: 40px;">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-contant">
						<div class="footer-logo" >
							<img style="height: 80px;" [src]="themeLogo" alt="logo">
						</div>
						<p>Explore Taxlogix to uncover the services provided by Chainlogix.</p>
						<div class="footer-social">
                           
                        </div>
					</div>
				</div>
				<div class="col offset-xl-1">
					<div class="sub-title">
						<div class="footer-title">
                            <h4>About</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a routerLink="['/static/about/']">About Us</a></li>
                            </ul>
                        </div>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title">
                            <h4>Legal & More</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a  routerLink="['/static/privacy/']">Privacy Policy</a></li>
                                <li><a  routerLink="['/static/terms/']">Terms and Conditions</a></li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
<!--footer section end -->