<div class="collection-freq">
    <div class="title">
        <div>
            <div>
                <span>Collection Frequency  <span>*</span></span>
            </div>
            <div *ngIf="!isAllFreqSelected()">
                <small class="show-orangered">Select Frequency</small>
            </div>
        </div>
    </div>
    <div class="default-text">
        <span>Default</span>
        <span>Non</span>
    </div>
    <div class="input-sections">
        <section class="section">
            <div class="title">
                <span>Annual</span>
            </div>
            <div class="checkbox">
                <mat-checkbox class="check-box" (change)="defaultChangeHandler('defaultAnnual')" [(ngModel)]="agDefaultFreq.defaultAnnual"></mat-checkbox>
                <mat-checkbox class="check-box" (change)="nonChangeHandler('nonAnnual')" [(ngModel)]="agNonFreq.nonAnnual"></mat-checkbox>
            </div>
          </section>
          <section class="section">
            <div class="title">
                <span>Discount Annual</span>
            </div>
            <div class="checkbox">
                <mat-checkbox (change)="defaultChangeHandler('defaultDiscountAnnual')" [(ngModel)]="agDefaultFreq.defaultDiscountAnnual"></mat-checkbox>
                <mat-checkbox (change)="nonChangeHandler('nonDiscountAnnual')" [(ngModel)]="agNonFreq.nonDiscountAnnual"></mat-checkbox>
            </div>
          </section>
          <section class="section">
            <div class="title">
                <span>Semi Annual</span>
            </div>
            <div class="checkbox">
                <mat-checkbox class="check-box" (change)="defaultChangeHandler('defaultSemiAnnual')" [(ngModel)]="agDefaultFreq.defaultSemiAnnual"></mat-checkbox>
                <mat-checkbox class="check-box" (change)="nonChangeHandler('nonSemiAnnual')" [(ngModel)]="agNonFreq.nonSemiAnnual"></mat-checkbox>
            </div>
          </section>
          <section class="section">
            <div class="title">
                <span>Tri</span>
            </div>
            <div class="checkbox">
                <mat-checkbox class="check-box" (change)="defaultChangeHandler('defaultTri')" [(ngModel)]="agDefaultFreq.defaultTri"></mat-checkbox>
                <mat-checkbox class="check-box" (change)="nonChangeHandler('nonTri ')" [(ngModel)]="agNonFreq.nonTri "></mat-checkbox>
            </div>
          </section>
          <section class="section">
            <div class="title">
                <span>Quarterly</span>
            </div>
            <div class="checkbox">
                <mat-checkbox class="check-box" (change)="defaultChangeHandler('defaultQuarterly')" [(ngModel)]="agDefaultFreq.defaultQuarterly"></mat-checkbox>
                <mat-checkbox class="check-box" (change)="nonChangeHandler('nonQuarterly')" [(ngModel)]="agNonFreq.nonQuarterly"></mat-checkbox>
            </div>
          </section>
    </div>
</div>