@use '~@angular/material' as mat;

@mixin clgx-agency-collection-practices-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-collection-practices {

    .sort-icon:hover{
      cursor: pointer;
      .no-sort {
        color: #A8A6A6;
      }
    }
    .sort-icon{
      width: 16px !important;
      height: 16px !important;
      line-height: 10px !important;
    }

    .mat-table {
      width: 100%;

      tr {
        width: 100% !important;
      }
      .mat-header-row {
        width: 100% !important;
      }
      .mat-row {
        width: 100% !important;
      }

      .cdk-row {
        width: 100% !important;
      }

      td.mat-cell {
      }
    }
    .ngx-datatable.material {
      box-shadow: none;
    }

    .collections-table {
      width: 100%;
      min-height: 300px !important;
      box-shadow: none;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .freq-column {
      width: 100px !important;
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #868686;
      background-color: yellow;
      align-items: center;
      letter-spacing: 0.03em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .year-column {
      width: 150px !important;
      font-family: Graphik-regular !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 18px !important;
      color: #868686 !important;
      align-items: center !important;
      letter-spacing: 0.03em !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      height: 25px !important;
    }
    .year-column-header {
      width: 150px !important;
      padding-top: 25px !important;
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #3746cd !important;
      align-items: left;
      text-align: left;
    }

    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .agency-table-header-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: mat.get-color-from-palette($accent) !important;
      align-items: center;
      text-align: center;
    }

    .action-icon {
      color: gray;
      cursor: pointer;
      padding-top: 10px;
    }

    .action-icon:hover {
      color: mat.get-color-from-palette($accent) !important;
    }

    .edit-this-table-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 12px;
      /* or 25% */
      color: mat.get-color-from-palette($warn) !important;

      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .collection-table-header-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: mat.get-color-from-palette($accent) !important;
      align-items: center;
      text-align: center;
    }

    .collection-table-cell-data {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height, or 75% */
      color: #868686;
      // display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      width: 98% !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 4px !important;
    }

    .collection-action-icon {
      color: gray;
      cursor: pointer;
      padding-bottom: 10px;
    }

    .collection-action-icon:hover {
      color: mat.get-color-from-palette($accent) !important;
    }

    .ngx-datatable { // datatable Style
      .datatable-header { // header Style
        .datatable-header-cell { // header Cell Style
          .datatable-icon-up::before {
            font-size: 200%;
            color:mat.get-color-from-palette($primary, 800) !important; ;
        }
        
        .datatable-icon-down::before {
          font-size: 200%;
          color:mat.get-color-from-palette($primary, 800) !important; ;
        }
        
        .sort-btn.datatable-icon-sort-unset::before { // Icon Style
          font-size: 200%;
         }
        }
      }
     }
  }
}
