
<br>
<br>
<h2>Collection Dates</h2>

<table class="example-table mat-elevation-z8" mat-table recycleRows [dataSource]="currentDataSource">
  <!-- Frequency Column -->
  <ng-container matColumnDef="frequency" >
    <th mat-header-cell *matHeaderCellDef> 
      <span class="agency-table-header-label">Frequency</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> 
      <span class="agency-table-header-label">Year</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.year}}</td>
  </ng-container>

  <!-- Installment Column -->
  <ng-container matColumnDef="installment">
    <th mat-header-cell *matHeaderCellDef>
      <span class="agency-table-header-label">Installment</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.installment}}</td>
  </ng-container>

  <!-- Base Column -->
  <ng-container matColumnDef="base">
    <th mat-header-cell *matHeaderCellDef>
      <span class="agency-table-header-label">Base</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.base}}</td>
  </ng-container>

<!-- Discount Column -->
  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> 
      <span class="agency-table-header-label">Discount</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.discount}}</td>
  </ng-container>

<!--  Penalty Column -->
  <ng-container matColumnDef="penalty">
    <th mat-header-cell *matHeaderCellDef> 
      <span class="agency-table-header-label">Penalty</span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.penalty}}</td>
  </ng-container>

  <!-- Late Release Column -->
  <ng-container matColumnDef="lateRelease">
    <th mat-header-cell *matHeaderCellDef>  
      <span class="agency-table-header-label">Late Release </span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.lateRelease}}</td>
  </ng-container>

  <!-- Bill Request Column -->
  <ng-container matColumnDef="billRequest">
    <th mat-header-cell *matHeaderCellDef>  
      <span class="agency-table-header-label">Bill Request </span>   
    </th>
    <td mat-cell *matCellDef="let element">{{element.billRequest}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> 
      <span class="agency-table-header-label">Action</span>   
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;align-items: center;" > 
      <button (click)="editDeal(element)" color="primary" style="padding-left: 9px;padding-right: 9px;min-width: 20px;cursor: pointer;" mat-raised-button>
        <i class="fa fa-edit"></i> 
      </button>       
       
    </td>
  </ng-container> 
 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> 
<mat-paginator #currentPaginator [length]="currentTablelength" [pageSize]="currentPageSize" showFirstLastButtons></mat-paginator>


<br>
<br>
<h2>History</h2>
<h3 style="text-align: center;text-decoration-color: crimson;">Edit the History</h3>
<table class="example-table mat-elevation-z8" mat-table recycleRows [dataSource]="historyDataSource">
  <!-- Frequency Column -->
  <ng-container matColumnDef="frequency">
    <th mat-header-cell *matHeaderCellDef> Frequency </th>
    <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
  </ng-container>

  <!-- Year Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element">{{element.year}}</td>
  </ng-container>

  <!-- Installment Column -->
  <ng-container matColumnDef="installment">
    <th mat-header-cell *matHeaderCellDef>Installment </th>
    <td mat-cell *matCellDef="let element">{{element.installment}}</td>
  </ng-container>

  <!-- Base Column -->
  <ng-container matColumnDef="base">
    <th mat-header-cell *matHeaderCellDef>Base</th>
    <td mat-cell *matCellDef="let element">{{element.base}}</td>
  </ng-container>

<!-- Discount Column -->
  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef> Discount </th>
    <td mat-cell *matCellDef="let element">{{element.discount}}</td>
  </ng-container>

<!--  Penalty Column -->
  <ng-container matColumnDef="penalty">
    <th mat-header-cell *matHeaderCellDef> Penalty </th>
    <td mat-cell *matCellDef="let element">{{element.penalty}}</td>
  </ng-container>

  <!-- Late Release Column -->
  <ng-container matColumnDef="lateRelease">
    <th mat-header-cell *matHeaderCellDef>  Late Release </th>
    <td mat-cell *matCellDef="let element">{{element.lateRelease}}</td>
  </ng-container>

  <!-- Bill Request Column -->
  <ng-container matColumnDef="billRequest">
    <th mat-header-cell *matHeaderCellDef>  Bill Request </th>
    <td mat-cell *matCellDef="let element">{{element.billRequest}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;align-items: center;" > 
      <button color="primary" style="padding-left: 9px;padding-right: 9px;min-width: 20px;cursor: pointer;" mat-raised-button >
        <i class="fa fa-edit" (click)="editDeal(element)"></i> 
      </button> 
    </td>
  </ng-container> 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> 
<mat-paginator #historyPaginator [pageSizeOptions]="[10, 20, 50]" [length]="historyTablelength" [pageSize]="historyPageSize" showFirstLastButtons></mat-paginator>






