
.collection-out-container{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 100px;
  padding-left: 75px;
  padding-right: 75px;
}
table {
  width: 100%;
}
.table-history{
  overflow: hidden;
}
.collection-dates-table{
  box-shadow: none !important;
  min-height: 250px !important;
}

.collection-history-dates-table{
  box-shadow: none !important;
  min-height: 450px !important;
}


.page-title-div{
  height: 70px;
  padding-top: 30px;
}

.page-second-section-div{
  height: 125px;
  padding-top: 75px;
}


/* Structure */
// .collection-container {
//   position: relative;
// }

.collection-container {
  position: relative;
  min-height: 400px;
  max-height: 700px;
  overflow: auto;
  box-shadow: none;
}

.collection-history-container {
  position: relative;
  min-height: 300px;
  max-height: 700px;
  overflow: auto;
}


.collection-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.collection-second-footer-row{
  width: 100%;
}

.action-column{
  width: 70px;
  text-align: center;
}