<div class="collection-out-container" [ngClass]="routeAnimationsElements">
  <div class="page-title-div">
    <span class="page-title"  animateOnScroll animationName="animated fadeInDown">Collection Dates</span>
  </div>
  <table class="collection-dates-table mat-elevation-z8"  
       animateOnScroll animationName="animated fadeIn" mat-table recycleRows [dataSource]="currentDataSource">
    <!-- Frequency Column -->
    <ng-container matColumnDef="frequency" >
      <th mat-header-cell *matHeaderCellDef> 
        <span class="agency-table-header-label">Frequency</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> 
        <span class="agency-table-header-label">Year</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.year}}</td>
    </ng-container>

    <!-- Installment Column -->
    <ng-container matColumnDef="installment">
      <th mat-header-cell *matHeaderCellDef>
        <span class="agency-table-header-label">Installment</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.installment}}</td>
    </ng-container>

    <!-- Base Column -->
    <ng-container matColumnDef="base">
      <th mat-header-cell *matHeaderCellDef>
        <span class="agency-table-header-label">Base</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.base}}</td>
    </ng-container>

  <!-- Discount Column -->
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef> 
        <span class="agency-table-header-label">Discount</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.discount}}</td>
    </ng-container>

  <!--  Penalty Column -->
    <ng-container matColumnDef="penalty">
      <th mat-header-cell *matHeaderCellDef> 
        <span class="agency-table-header-label">Penalty</span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.penalty}}</td>
    </ng-container>

    <!-- Late Release Column -->
    <ng-container matColumnDef="lateRelease">
      <th mat-header-cell *matHeaderCellDef>  
        <span class="agency-table-header-label">Late Release </span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.lateRelease}}</td>
    </ng-container>

    <!-- Bill Request Column -->
    <ng-container matColumnDef="billRequest">
      <th mat-header-cell *matHeaderCellDef>  
        <span class="agency-table-header-label">Bill Request </span>   
      </th>
      <td mat-cell *matCellDef="let element">{{element.billRequest}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> 
        <span class="agency-table-header-label">Action</span>   
      </th>
      <td mat-cell *matCellDef="let element"  class="action-column"> 
        <button (click)="editDates(element)" class="action-icon"
             mat-button>
          <i class="fa fa-edit"></i> 
        </button>       
        
      </td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> 
  <button mat-icon-button color="primary" 
       [ngClass]="routeAnimationsElements"
        [disabled]="(agencyStoreFacade.actionInProgress$ | async) || false"
        matTooltip="Add New Collection Dates"
        (click)="addCollectionDates($event)"
        style="position: absolute;top: 75px;right: 40px; cursor: pointer;">
        <i class="fa fa-plus fa-2x"></i>
  </button>
  <!-- <mat-paginator #currentPaginator [length]="currentTablelength" [pageSize]="currentPageSize" showFirstLastButtons></mat-paginator> -->
  <div class="page-second-section-div">
    <div class="row">
      <div class="col-md-4 text-left">
        <span  animateOnScroll animationName="animated fadeIn" class="page-title">History</span>
      </div>
      <div class="col-md-8 text-right">
        <span  animateOnScroll animationName="animated fadeIn" class="edit-this-table-label">Edit the History</span>
      </div>
    </div>
  </div>
  <div class="collection-container mat-elevation-z8">
    <div class="collection-history-container">
      <table  class="collection-history-dates-table" mat-table recycleRows [dataSource]="historyDataSource">
        <!-- Frequency Column -->
        <ng-container matColumnDef="frequency">
          <th mat-header-cell *matHeaderCellDef>
            <span class="agency-table-header-label">Frequency</span>   
            </th>
          <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="agency-table-header-label">Year</span>    
          </th>
          <td mat-cell *matCellDef="let element">{{element.year}}</td>
        </ng-container>

        <!-- Installment Column -->
        <ng-container matColumnDef="installment">
          <th mat-header-cell *matHeaderCellDef>
            <span class="agency-table-header-label">Installment</span> 
          </th>
          <td mat-cell *matCellDef="let element">{{element.installment}}</td>
        </ng-container>

        <!-- Base Column -->
        <ng-container matColumnDef="base">
          <th mat-header-cell *matHeaderCellDef>
            <span class="agency-table-header-label">Base</span>   
          </th>
          <td mat-cell *matCellDef="let element">{{element.base}}</td>
        </ng-container>

      <!-- Discount Column -->
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="agency-table-header-label">Discount</span> 
          </th>
          <td mat-cell *matCellDef="let element">{{element.discount}}</td>
        </ng-container>

      <!--  Penalty Column -->
        <ng-container matColumnDef="penalty">
          <th mat-header-cell *matHeaderCellDef> 
            <span class="agency-table-header-label">Penalty</span>  
          </th>
          <td mat-cell *matCellDef="let element">{{element.penalty}}</td>
        </ng-container>

        <!-- Late Release Column -->
        <ng-container matColumnDef="lateRelease">
          <th mat-header-cell *matHeaderCellDef>  
            <span class="agency-table-header-label">Late Release </span>
           </th>
          <td mat-cell *matCellDef="let element">{{element.lateRelease}}</td>
        </ng-container>

        <!-- Bill Request Column -->
        <ng-container matColumnDef="billRequest">
          <th mat-header-cell *matHeaderCellDef>  
            <span class="agency-table-header-label">Bill Request </span>  
          </th>
          <td mat-cell *matCellDef="let element">{{element.billRequest}}</td>
        </ng-container>

        <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> 
            <span class="agency-table-header-label">Action</span>   
          </th>
          <td mat-cell *matCellDef="let element" class="action-column" > 
            <button  mat-button  class="action-icon">
              <i class="fa fa-edit" (click)="editDates(element)"></i> 
            </button> 
          </td>
        </ng-container> 
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> 
    </div>
    <mat-paginator #historyPaginator [pageSizeOptions]="historyPageSizeOptions" [length]="historyTablelength" [pageSize]="historyPageSize" showFirstLastButtons></mat-paginator>
  </div>
</div>





