  <!-- <div class="big-input" [ngClass]="{ 'has-focus': hasFocus }">
    <div>
      <div>
        <span class="agency-input-label">Name</span>
      </div>
      <div>
        <i *ngIf="value.length" (click)="clearTextHandler($event)" class="fa fa-close clear-icon"></i>
        <input style="padding-right: 40px !important;" 
           (focus)="hasFocus = true" (blur)="hasFocus = false"
             [(ngModel)]="value"  [class.show-clear]="showClear"
            [placeholder]="placeholder"
            [disabled]="disabled" />
      </div>
    </div>
  </div>
 -->
 <div class="agency-input-container">
  <label for="state" class="agency-input-label">State</label>
  <div class="input-group  input-group-lg   mb-3">
    <select class="agency-select-box" id="state">
      <option *ngFor="let option of (agencyFacade.stateOptions$ | async)" 
        value="option.stateId">
      {{option.stateName}}
    </option>
    </select>
  </div>
  </div>