@use '~@angular/material' as mat;

@mixin clgx-big-input-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-big-input {
    .big-input {
      position: relative !important;
      box-shadow: none !important;
      transition: all 0.5s;
      display: 100%;
      padding: 3px;
      input {
        font-family: Graphik-medium !important;
        font-style: normal !important;
        font-weight: normal !important;

        /* identical to box height, or 100% */
        padding: 0.5rem 1rem !important;
        font-size: 1.25rem !important;
        border-radius: 0.3rem !important;
        display: flex !important;
        align-items: center !important;
        letter-spacing: 0.03em !important;

        color: #868686 !important;
        background: #ffffff !important;
        border: 1px solid #aeafbc !important;
        box-sizing: border-box !important;

        width: 100% !important;
        height: 48px !important;
      }

      &.has-focus {
        box-shadow: 0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2),
          0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2),
          0 0 2px 1px rgba(mat.get-color-from-palette($primary), 0.2);
      }
    }

    .clear-icon {
      position: absolute;
      top: 43px;
      right: 10px;
      font-size: x-large;
      color: orangered;
      cursor: pointer;
    }

    .show-clear {
      padding-left: 15px;
    }

    .agency-input-label {
      font-family: Graphik-medium !important;
      font-style: normal !important;
      font-weight: normal !important;
      font-size: 12px !important;
      line-height: 22px !important;
      /* identical to box height, or 100% */

      display: flex !important;
      align-items: center !important;
      letter-spacing: 0.03em !important;

      color: #868686 !important;
    }
  }
}
