<div class="back-button-group" (click)="back()">
  <img src="../../../../../assets/images/hexLogo.png" alt="" srcset="">
  <p><small>&lt;dashboard</small></p>
</div>

<div class="details-container-content">
  <div class="page-title">
    <h3>Dealware Country</h3>
    <p><small>982362341</small></p>
  </div>

  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Details">Details</mat-tab>
    <mat-tab label="Collection Practices">Collection Practices</mat-tab>
    <mat-tab label="Procurement">Procurement Details</mat-tab>
    <mat-tab label="Payment">Payment Details</mat-tab>
    <mat-tab label="Logs">Logs Details</mat-tab>
  </mat-tab-group>

  <div class="internal-group">
    <div class="internal-heading"><h4>Internal</h4></div>
    <div class="internal-left">
      <p><small>Comments and notes</small></p>
      <textarea class="big-input-box" type="text"></textarea>
    </div>
    <div class="internal-right">
      <p><small>Last updated by</small></p>
      <input type="text">
      <p><small>Last date updated</small></p>
      <input type="text">
    </div>
  </div>
</div>
