@import '../../../../../styles-variables';

.container {
  margin-top: 0px;
  max-width: 1056px;
  background-color: #fff;
}

.back-button-group {
  width: fit-content;
  cursor: pointer;
}

.details-container-content {
  padding: 0 10%;
  position: relative;
  .tab-content{
    min-height: 500px;
    .tab-description{
      justify-content: center;
      display: flex;
      padding: 250px 0;
    }
  }
}

.internal-group {
  height: 500px;
  .grid-wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .big-input-box {
    height: 300px;
    width: 90%;
    background: #ffffff;
    border: 1px solid #aeafbc;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 2px rgba(134, 134, 134, 0.25);
  }
}
