
<div class="container">
  <mat-card>
    <div class="details-container-content">
      <div class="agency-details-container-head">
        <h3 class="page-title">{{(agency$ | async)?.agencyName}}</h3>
        <span class="page-subtitle">{{(agency$ | async)?.agencyNumber}}</span>
      </div>
    <mat-tab-group   mat-align-tabs="start">
      <mat-tab label="Details">
          <clgx-agency-details></clgx-agency-details>
      </mat-tab>
      <mat-tab label="Collection Practices">
        <div class="tab-content tab-label">
          <clgx-agency-collection-practices></clgx-agency-collection-practices>
        </div>
      </mat-tab>
      <mat-tab label="Procurement">
        <clgx-agency-procument></clgx-agency-procument>
      </mat-tab>
      <mat-tab label="Payment">
        <div class="tab-content tab-label">
          <clgx-agency-payment></clgx-agency-payment>
        </div>
      </mat-tab>
      <mat-tab label="Logs">
        <div class="tab-content tab-label">
          <small class="tab-description">Logs Tab under Construction</small>
        </div>
        </mat-tab>
    </mat-tab-group>

    <div class="internal-group">
      <div class="internal-heading"><h4>Internal</h4></div>
      <div class="grid-wrapper">
        <div >
          <small>Comments and notes</small>
          <textarea class="big-input-box" type="text"></textarea>
        </div>
        <div class="row" style="height: 200px;">
          <div class="col-12 pb-3">
            <div>
              <small>Last updated by</small>
            </div>
            <input type="text">
          </div>
          <div class="col-12 pb-3">
            <div>
              <small>Last date updated</small>
            </div>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    </div>
  </mat-card>
</div>
