@import '../../../../../styles-variables';

.container {
  margin-top: 0px;
  max-width: 1056px;
  background-color: #fff;
}

.back-button-group {
  width: fit-content;
  cursor: pointer;
}

.details-container-content {
  padding: 0 10%;
  position: relative;
}

.internal-group {
  height: 500px;
  .internal-left {
    float: left;
  }
  .internal-right {
    float: right;
  }
  .big-input-box {
    height: 384px;
    width: 643px;
    background: #ffffff;
    border: 1px solid #aeafbc;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 2px rgba(134, 134, 134, 0.25);
  }
}
