@use '~@angular/material' as mat;

@mixin clgx-agency-details-container-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-details-container {
    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-family: Graphik-regular;
      font-size: 16px;
      line-height: 18px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .mat-tab-label-content {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
    }
    .mat-card-header-text{
      margin: 0px;
    }
    .tab-label {
      color: mat.get-color-from-palette($accent) !important;
    }

    .mat-button-toggle-checked {
      background-color: mat.get-color-from-palette($primary, 400) !important;
      color: mat.get-color-from-palette($primary, 800) !important;
      i {
        color: mat.get-color-from-palette($accent, 400) !important;
      }
    }

    // .welcome-title {
    //   color: mat.get-color-from-palette($accent) !important;
    // }
    // .feature-card-title {
    //   color: mat.get-color-from-palette($accent, 400) !important;
    //   font-weight: 700;
    // }
    // .feature-card-status-green {
    //   color: mat.get-color-from-palette($success-colors) !important;
    //   text-transform: capitalize !important;
    //   text-transform: uppercase !important;
    // }
    // .feature-card-status-orange {
    //   color: mat.get-color-from-palette($warning-colors) !important;
    //   text-transform: capitalize !important;
    //   text-transform: uppercase !important;
    // }

    .mat-row:nth-child(even) {
      background-color: #f0f0f0;
    }

    .mat-row:nth-child(odd) {
      // background-color: black;
    }

    .default-theme .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.4em 0 !important;
    }

    .internal-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      /* identical to box height */
      color: mat.get-color-from-palette($accent, 400) !important;

      display: flex;
      align-items: center;
    }
   
  }
}
