<!-- <div class="back-button-group" (click)="back()">
  <img src="../../../../../assets/images/hexLogo.png" alt="" srcset="">
  <p><small>&lt;dashboard</small></p>
</div> -->
<div class="container">

<div class="details-container-content">
  <div class="page-title">
    <h3>Dealware Country</h3>
    <p><small>982362341</small></p>
  </div>

  <mat-tab-group  mat-stretch-tabs mat-align-tabs="start">
    <mat-tab label="Details">
      <span class="tab-label"><clgx-agency-details></clgx-agency-details></span>
    </mat-tab>
    <mat-tab label="Collection Practices">
      <span class="tab-label">Collection Practices</span>
    </mat-tab>
    <mat-tab label="Procurement">
      <span class="tab-label">Procurement </span>
    </mat-tab>
    <mat-tab label="Payment">
      <span class="tab-label">Payment</span>
    </mat-tab>
    <mat-tab label="Logs">
      <span class="tab-label">Logs</span>
      </mat-tab>
  </mat-tab-group>

  <div class="internal-group">
    <div class="internal-heading"><h4>Internal</h4></div>
    <div class="internal-left">
      <p><small>Comments and notes</small></p>
      <textarea class="big-input-box" type="text"></textarea>
    </div>
    <div class="internal-right">
      <p><small>Last updated by</small></p>
      <input type="text">
      <p><small>Last date updated</small></p>
      <input type="text">
    </div>
  </div>
</div>
</div>