.action-section{
    padding: 20px;
    text-align: right;
    margin-bottom: 10px;
}
.collection-dates{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    overflow: hidden;
    span{
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 35px;
        display: flex;
        align-items: center;
        color: #000B6C;
        margin-bottom: 1rem;
    }
}
.save-btn{
    // background: #00ebcf;
    // border-radius: 4px;
    // // width: 100px;
    // // height: 50px;
    // border: 0;
    // color: white;
}

.text-right{
    text-align: right;
}