<div mat-dialog-header>
  <div class="row">
    <div class="col-md-8 pb-3">
      <span class="edit-agency-model-header-label">Collection Dates</span>
    </div>
    <div class="col-md-4 pb-3 text-right">
        <i (click)="onNoClick()" class="fas fa-times action-icon"></i>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div>
    <form class="collection-dates" [formGroup]="editForm" 
          (ngSubmit)="updateCollectionDate(editForm)">
    <div class="row">
      <div class="col-6">
        <clgx-reactive-select
          [titleLabel]="'Year'"
          [options]="years || []"
          [clgxControlName]="'year'"
          [required]="isRequired('year')"
          [error]="year?.errors?.required">
        </clgx-reactive-select>
      </div>
      <div class="col-6">
        <clgx-reactive-select
          [titleLabel]="'Frequency'"
          [options]="frequencies || []"
          [clgxControlName]="'frequency'"
          [required]="isRequired('frequency')"
          [error]="frequency?.errors?.required">
        </clgx-reactive-select>
      </div>
      <div class="col-6">
        <clgx-reactive-select
          [titleLabel]="'Installment'"
          [options]="installmentsValues || []"
          [clgxControlName]="'installment'"
          [disabled]="!installmentsValues?.length"
          [required]="isRequired('installment')"
          [error]="installment?.errors?.required">
        </clgx-reactive-select>
      </div>
      <div class="col-6">
        <clgx-reactive-date
          [titleLabel]="'Base'"
          [required]="isRequired('base')"
          [clgxControlName]="'base'"
          [showClear]="false"
          [error]="base?.errors?.required">
        </clgx-reactive-date>
      </div>
      <div class="col-6">
        <clgx-reactive-date
          [titleLabel]="'Discount'"
          [required]="isRequired('discount')"
          [clgxControlName]="'discount'"
          [showClear]="false"
          [error]="discount?.errors?.required">
        </clgx-reactive-date>
      </div>
      <div class="col-6">
        <clgx-reactive-date
          [titleLabel]="'Penalty'"
          [required]="isRequired('penalty')"
          [clgxControlName]="'penalty'"
          [showClear]="false"
          [error]="penalty?.errors?.required">
        </clgx-reactive-date>
      </div>
      <div class="col-6">
        <clgx-reactive-date
          [titleLabel]="'Late Release'"
          [required]="isRequired('lateRelease')"
          [clgxControlName]="'lateRelease'"
          [showClear]="false"
          [error]="lateRelease?.errors?.required">
        </clgx-reactive-date>
      </div>
      <div class="col-6">
        <clgx-reactive-date
          [titleLabel]="'Bill Request'"
          [required]="isRequired('billRequest')"
          [clgxControlName]="'billRequest'"
          [showClear]="false"
          [error]="billRequest?.errors?.required">
        </clgx-reactive-date>
      </div>
      <div class="col-12">
        <div  class="action-section">
          <button color="primary" [disabled]="editForm.invalid" mat-raised-button>Save</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>

