<div mat-dialog-header>
  <div class="row">
    <div class="col-md-8 pb-3">
      <span class="edit-agency-model-header-label">Collection Dates</span>
    </div>
    <div class="col-md-4 pb-3 text-right">
        <i (click)="onNoClick()" class="fas fa-times action-icon"></i>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div>
    <form class="collection-dates" [formGroup]="editForm" 
    (ngSubmit)="updateCollectionDate(editForm)">
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Year</mat-label>
          <mat-select formControlName="year" [required]="isRequired('year')">
            <mat-option *ngFor="let year of years" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="yearFC.errors?.required">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Installment</mat-label>
          <mat-select formControlName="installment" [required]="isRequired('installment')">
            <mat-option *ngFor="let installment of installmentsValues" [value]="installment">
              {{installment}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="installmentFC.errors?.required">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100" color="accent">
          <mat-label>Frequency</mat-label>
          <mat-select formControlName="frequency" (ngModelChange)="frequencyValue()" [required]="isRequired('frequency')">
            <mat-option *ngFor="let fre of frequency" [value]="fre.id">
              {{fre.frequency}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="frequencyFC.errors?.required">
            Required field
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field  class="w-100" color="accent">
          <mat-label>Base</mat-label>
          <input [matDatepicker]="baseDatePicker" matInput formControlName="base" [required]="isRequired('base')">
          <mat-datepicker-toggle matSuffix [for]="baseDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #baseDatePicker></mat-datepicker>
          <mat-error *ngIf="baseFC.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field  class="w-100" color="accent">
          <mat-label>Discount</mat-label>
          <input [matDatepicker]="discountDatePicker" matInput formControlName="discount" [required]="isRequired('discount')">
          <mat-datepicker-toggle matSuffix [for]="discountDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #discountDatePicker></mat-datepicker>
          <mat-error *ngIf="discountFC.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field  class="w-100" color="accent">
          <mat-label>Penalty</mat-label>
          <input [matDatepicker]="penaltyDatePicker" matInput formControlName="penalty" 
          [required]="isRequired('penalty')">
          <mat-datepicker-toggle matSuffix [for]="penaltyDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #penaltyDatePicker></mat-datepicker>
          <mat-error *ngIf="penaltyFC.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field  class="w-100" color="accent">
          <mat-label>Late Release</mat-label>
          <input [matDatepicker]="lateReleaseDatePicker" matInput formControlName="lateRelease" [required]="isRequired('lateRelease')">
          <mat-datepicker-toggle matSuffix [for]="lateReleaseDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #lateReleaseDatePicker></mat-datepicker>
          <mat-error *ngIf="lateReleaseFC.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field  class="w-100" color="accent">
          <mat-label>Bill Request</mat-label>
          <input [matDatepicker]="billRequestDatePicker" matInput formControlName="billRequest" 
          [required]="isRequired('billRequest')">
          <mat-datepicker-toggle matSuffix [for]="billRequestDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #billRequestDatePicker></mat-datepicker>
          <mat-error *ngIf="billRequestFC.errors?.required">
            Required 
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div  class="action-section">
          <button color="primary" [disabled]="editForm.invalid" mat-raised-button>Save</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>

