@import '../../../../../styles-variables';

.container {
  margin-top: 100px !important;
  max-width: 1400px !important;
  height: 100vh;
  // background-color: #c0c0c01f;
}

.agency-search-field-div {
  text-align: right;
}

.agencies-table {
  width: 100%;
  height: 68vh;
  box-shadow: none;
  overflow-y: scroll;
}
.filter-icon{
  font-size: small;
  color: #868686;
}
.filter-icon-orange{
  font-size: small;
  color: orangered;
}
.agencies-header-div{
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.name-filter-input{
  width: 200px;
  margin-right: 10px;
}

.number-filter-input{
  width: 150px;
  margin-right: 10px;
}

.state-filter-input{
  width: 150px;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}