<div class="container">
  <mat-card style="height: 90vh;">
    <mat-card-header class="dashboard-header" >
      <button mat-button class="bread-grum" (click)="goToFeaturesHandler($event)">
        <i class="fa fa-chevron-left"></i> 
        Dashboard
      </button>
    </mat-card-header>
    <div class="row agencies-header-div" [ngClass]="routeAnimationsElements">
      <div class="col-3 p-10">
        <div >
          <h3 class="page-title">Agencies</h3>
          <span class="page-subtitle"
          *ngIf="!(agencyFacade.actionInProgress$ | async) || false">{{filterAgencies?.length}} Agencies</span>
        </div>
      </div>
      <div class="col-9 pb-3 agency-search-field-div" >
        <mat-form-field color="accent" class="name-filter-input">
          <input matInput placeholder="Name" value="" [(ngModel)]="agencyFilter.name">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
          <mat-icon matPrefix *ngIf="agencyFilter.name" (click)="clearNameFilter($event)">
            <i class="fa fa-close filter-icon-orange"></i>
          </mat-icon>
        </mat-form-field>
  
        <mat-form-field color="accent" class="number-filter-input">
          <input matInput placeholder="Number" value="" [(ngModel)]="agencyFilter.number">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
          <mat-icon matPrefix *ngIf="agencyFilter.number" (click)="clearNumberFilter($event)">
            <i class="fa fa-close filter-icon-orange"></i>
          </mat-icon>
        </mat-form-field>
  
        <mat-form-field  color="accent" class="state-filter-input">
          <mat-label>State</mat-label>
          <mat-select  [(ngModel)]="agencyFilter.state"  >
            <mat-option *ngFor="let option of (agencyFacade.stateOptions$ | async)" 
              [value]="option.stateId">
              {{option.stateName}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
          <mat-icon matPrefix *ngIf="agencyFilter.state" (click)="clearStateFilter($event)">
            <i class="fa fa-close filter-icon-orange"></i>
          </mat-icon>
        </mat-form-field>

        <!-- <mat-form-field color="accent" >
          <input matInput placeholder="State" value="" [(ngModel)]="agencyFilter.state">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
          <mat-icon matPrefix *ngIf="agencyFilter.state" (click)="clearNameFilter($event)">
            <i class="fa fa-close filter-icon-orange"></i>
          </mat-icon>
        </mat-form-field> -->
        <button mat-raised-button color="primary" 
        [disabled]="(agencyFacade.actionInProgress$ | async) || false"
          (click)="searchAgency($event)" >Search</button>
      </div>
    </div>
  
    <div class="row align-items-end"  [ngClass]="routeAnimationsElements">
       <div class=" mat-elevation-z1 agencies-table" style="overflow: auto;">
     
        <ngx-datatable
            [ngClass]="routeAnimationsElements"
            class="material"
            [rows]="filterAgencies"
            [columns]="ngxDisplayedColumns"
            [columnMode]="'force'"
            [messages]="dataTableMessage"
            [loadingIndicator]="(agencyFacade.actionInProgress$ | async) || false"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="true"
            style="height: 100%;margin-left: 15px;margin-right: 15px;width: 1425px;"
            (page)="onPage($event)"
      >
        <!-- <ngx-datatable-column name="agencyMasterId" [width]="50">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Id</span> 
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="agency-table-cell-data">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="agencyNumber" [width]="175">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Agency#</span> 
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="agencyName" [width]="250">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Agency Name</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="agencySuitsAddress" [width]="325">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Address</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="agencyCity" [width]="165">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">City</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="agencyState" [width]="100">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">State</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="assessorPhoneNumber" [width]="125">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Phone Number</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div class="agency-table-cell-data">{{ value }}</div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="actions" [width]="100" [resizeable]="false">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Actions</span>   
            
          </ng-template>
          <ng-template let-row="row"   ngx-datatable-cell-template>
            <div style="text-align: center;cursor: pointer;">
              <mat-icon class="action-icon" (click)="navigateToDetails($event, row)">edit</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <button mat-icon-button color="accent" 
        [disabled]="(agencyFacade.actionInProgress$ | async) || false"
        matTooltip="Add New Agency"
        (click)="addNewAgency($event)"
        style="position: absolute;top: 175px;right: 15px; cursor: pointer;">
        <i class="fa fa-plus fa-2x"></i>
      </button>
      <div *ngIf="(agencyFacade.actionInProgress$ | async) || false" 
        style="position: absolute;top: 500px;width: 100%;text-align: center;">
        <span>Loading Agencies Please wait!!</span>
      </div>
      </div>
    </div>
  </mat-card>
</div>