<div class="container">
  <div class="row" [ngClass]="routeAnimationsElements">

    <div class="col-md-12 pb-3">
      <div class="page-title">
        <h3>Agencies</h3>
        <p><small>982362341</small></p>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <button mat-raised-button>Search</button>
    </div>


  </div>


  <div class="row align-items-end" style="height: 300px; overflow-y: scroll;" [ngClass]="routeAnimationsElements">

    <table mat-table [dataSource]="agenciesDetails" class="mat-elevation-z8 demo-table" >
      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Agency #</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.number}}</td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Agency Name</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.name}}</td>
      </ng-container>
    
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.address}}</td>
      </ng-container>
    
      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.city}}</td>
      </ng-container>
    
      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.state}}</td>
      </ng-container>

      <!-- Phone Number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let agencyDetails">{{agencyDetails.phoneNumber}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="  position: sticky;"></tr>
      <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>


  </div>




</div>
