@use '~@angular/material' as mat;

@mixin clgx-agency-landing-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-landing {
    // mat-form-field.mat-form-field {
    //   font-size: 12px;
    // }

    .mat-row:hover {
      // background-color: red;
    }
    .mat-row:nth-child(even) {
      background-color: #f0f0f0;
    }

    .mat-row:nth-child(odd) {
      // background-color: black;
    }

    .default-theme .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.4em 0 !important;
    }

    .agency-table-header-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: mat.get-color-from-palette($accent) !important;
      align-items: center;
      text-align: center;
    }

    .action-icon {
      color: gray;
      cursor: pointer;
    }

    .action-icon:hover {
      color: mat.get-color-from-palette($primary) !important;
    }

    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .mat-card-header-text{
      margin: 0px;
    }
  }
}
