<div class="container">
  <mat-card style="height: 85vh;">
    <mat-card-header >
      <button mat-button color="primary" (click)="goToFeaturesHandler($event)"><i class="fa fa-chevron-left"></i> Dashboard</button>
    </mat-card-header>
    <div class="row agencies-header-div" [ngClass]="routeAnimationsElements">
      <div class="col-3 p-10">
        <div >
          <h3 class="page-title">Agencies</h3>
          <span class="page-subtitle">{{filterAgencies?.length}} Agencies</span>
        </div>
      </div>
      <div class="col-9 pb-3 agency-search-field-div" >
        <mat-form-field  class="name-filter-input">
          <input matInput placeholder="Name" value="" [(ngModel)]="agencyFilter.name">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
        </mat-form-field>
  
        <mat-form-field class="number-filter-input">
          <input matInput placeholder="Number" value="" [(ngModel)]="agencyFilter.number">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
        </mat-form-field>
  
        <mat-form-field class="state-filter-input">
          <input matInput placeholder="State" value="" [(ngModel)]="agencyFilter.state">
          <mat-icon matSuffix><i class="fa fa-filter filter-icon"></i></mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchAgency($event)" >Search</button>
      </div>
    </div>
  
    <div class="row align-items-end"  [ngClass]="routeAnimationsElements">
       <div class=" mat-elevation-z1 agencies-table" style="overflow: auto;">
        <!-- <table mat-table [dataSource]="agencyDataSource" style="width: 100%;" 
              matSort (matSortChange)="agenciesSortChange($event)">
          <ng-container matColumnDef="agencyNumber" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span class="agency-table-header-label">Number</span>   
            </th>
            <td mat-cell *matCellDef="let element" (click)="navigateToDetails($event,element)"> {{element.agencyNumber}} </td>
          </ng-container>
      
          <ng-container matColumnDef="agencyName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span class="agency-table-header-label">Name</span>   
            </th>
            <td mat-cell *matCellDef="let element"> {{element.agencyName}} </td>
          </ng-container>
      
          <ng-container matColumnDef="agencySuitsAddress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
              <span class="agency-table-header-label">Address</span>   
            </th>
            <td mat-cell *matCellDef="let element"> {{element.agencySuitsAddress}} </td>
          </ng-container>
      
          <ng-container matColumnDef="agencyCity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <span class="agency-table-header-label">City</span>   
            </th>
            <td mat-cell *matCellDef="let element"> {{element.agencyCity}} </td>
          </ng-container>
          <ng-container matColumnDef="assessorPhoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
             <span class="agency-table-header-label">Phone Number</span>   
            </th>
            <td mat-cell *matCellDef="let element"> {{element.assessorPhoneNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="actions" stickyEnd style="width: 50px;">
            <th mat-header-cell *matHeaderCellDef class="text-center"> 
             <span class="agency-table-header-label">Actions</span>   
            </th>
            <td mat-cell *matCellDef="let element" class="text-center"> 
              <mat-icon class="action-icon" (click)="navigateToDetails($event, element)">edit</mat-icon>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
        <ngx-datatable
            class="material"
            [rows]="filterAgencies"
            [columns]="ngxDisplayedColumns"
            [columnMode]="'force'"
            [messages]="dataTableMessage"
            [loadingIndicator]="(agencyFacade.actionInProgress$ | async) || false"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="true"
            style="height: 100%;margin-left: 15px;margin-right: 15px;"
            (page)="onPage($event)"
      >
        <ngx-datatable-column name="agencyMasterId" [width]="70">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Number</span> 
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="agencyName" [width]="250">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Name</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="payName" [width]="300">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Payee Name</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="emailId" [width]="300">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Email Id</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="phoneNumber" [width]="300">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Phone Number</span>   
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="actions" [width]="100" [resizeable]="false" frozenRight="true">
          <ng-template let-column="column" let-value="value" ngx-datatable-header-template>
            <span class="agency-table-header-label">Actions</span>   
          </ng-template>
          <ng-template let-row="row"   ngx-datatable-cell-template>
            <div style="text-align: center;cursor: pointer;">
              <mat-icon class="action-icon" (click)="navigateToDetails($event, row)">edit</mat-icon>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      </div>
    </div>
  </mat-card>
</div>
