@import '../../../../../styles-variables';

.container {
  margin-top: 100px !important;
  max-width: 1400px !important;
  height: 100vh;
  // background-color: #c0c0c01f;
}

.agency-search-field-div {
  text-align: right;
}

.agencies-table {
  width: 100%;
  height: 68vh;
  box-shadow: none;
  overflow-y: scroll;
}

.mat-form-field {
  max-width: 150px;
  margin-right: 10px;
}

.mat-row .mat-cell {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
  font-weight: bold;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.container {
  margin-top: 0px;
  max-width: 800px;
  // background-color: #c0c0c01f;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  margin: 0 0 20px 0;
  .feature-icon {
    font-size: 3rem;
  }
  .image-center {
    position: relative;
    margin-top: 30px;
  }
  mat-card-title {
    position: relative;

    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    fa-icon {
      position: relative;
      bottom: 2px;
      font-size: 16px;
      margin: 6px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    left: 5px;
  }
}
