@import '../../../../../styles-variables';

.container {
  margin-top: 100px !important;
  max-width: 1400px !important;
  height: 100vh;
  // background-color: #c0c0c01f;
}

.agency-search-field-div {
  text-align: right;
}

.agencies-table {
  width: 100%;
  height: 68vh;
  box-shadow: none;
  overflow-y: scroll;
}
