@use '~@angular/material' as mat;

@mixin clgx-agency-landing-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $success: map-get($theme, success);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  clgx-agency-landing {
    // mat-form-field.mat-form-field {
    //   font-size: 12px;
    // }

    .ngx-datatable.material {
      box-shadow: none !important;
    }

    .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
    .ngx-datatable.material:not(.cell-selection)
      .datatable-body-row:hover
      .datatable-row-group {
      background: rgba(0, 243, 243, 0.118) !important;
    }

    .mat-row:hover {
      // background-color: red;
    }
    .mat-row:nth-child(even) {
      background-color: #f0f0f0;
    }

    .mat-row:nth-child(odd) {
      // background-color: black;
    }

    .default-theme .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 0.4em 0 !important;
    }

    .agency-table-header-label {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height */
      color: mat.get-color-from-palette($accent) !important;
      align-items: center;
      text-align: center;
    }

    .agency-table-cell-data {
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      /* identical to box height, or 75% */
      color: #868686;
      // display: flex;
      align-items: center;
      letter-spacing: 0.03em;
      width: 98% !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 4px !important;
    }

    .action-icon {
      color: gray;
      cursor: pointer;
    }

    .action-icon:hover {
      color: mat.get-color-from-palette($accent) !important;
    }

    .bread-grum {
      color: #868686 !important;
      font-family: Graphik-regular;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      max-height: 40px;
      padding-top: 6px;
      padding-bottom: 6px;
      /* identical to box height, or 100% */
      letter-spacing: 0.03em;
    }

    .page-title {
      color: mat.get-color-from-palette($accent) !important;
      font-family: Graphik-medium;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 35px;
    }

    .page-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      /* or 75% */
      color: #868686;
      display: flex;
      align-items: center;
      letter-spacing: 0.03em;
    }

    .mat-card-header-text {
      margin: 0px;
    }

    .datatable-row-even {
      background-color: #fff;
    }

    .datatable-row-odd {
      background-color: #f0f0f0;
    }
  }
}
